[2019-08-08 16:33] drinfernoo opened #1 "Screenshot referenced in addon.xml doesn't exist"
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/c42106d631c3f831264726158457bd274d47b6ec/addon.xml#L21

There is no screenshot image available at `resources/screenshot-01.jpg` 😦

[2019-08-08 23:10] jurialmunkey commented on #1
Whoops! Fixed now. Thanks 😃

[2019-08-08 23:10] #1 closed

[2019-08-09 01:37] drinfernoo commented on #1
I'll update the repo in a while 👌

[2019-08-11 03:02] drinfernoo opened #2 "No clearlogos retrieved"
Title ^ :wink:

[2019-08-11 03:54] jurialmunkey commented on #2
TMDb and OMDb don't provide clearlogos. That would require an additional API call to fanart.tv or something like that. I'm thinking about adding some additional calls to other APIs but it depends on the effect on performance.

[2019-08-11 04:40] #2 closed

[2019-08-12 23:42] starman2908 opened #3 "[Feature Request] Trakt Auth To retrieve custom lists"
Hiya,

KUDOS!!!

Absolutely love the new feature of the TMDB helper add-on. It works really well and hopefully will negate the use of extended info and beta skin helper service.
I was wondering about the possibility of integrating Trakt, allowing for the authentication and retrieval of user watchlist and custom created lists.

There's a plethora of third party (questionably legal addons) that have

[2019-08-17 16:51] drinfernoo opened #4 "[Request] Season Artwork"
As the title says 😉

[2019-08-17 23:08] jurialmunkey commented on #4
I'm not sure exactly what you're requesting ???

[2019-08-18 00:02] drinfernoo commented on #4
You can see each artwork item for movies, shows, and even episodes, but it doesn't seem like you can see the artwork returned for individual seasons... Does that make sense? My bad 😬

[2019-08-18 00:31] jurialmunkey commented on #4
Do you mean in the browser how you have these options for the detailed item?
![Honeyview_screenshot395](https://user-images.githubusercontent.com/4618719/63218657-a0507180-c1a2-11e9-920d-f8f6581f07d6.jpg)

I would have to have an additional seasons details landing page between show and episodes.
e.g. Tvshows List > Tvshow Details > Seasons List > **Season Details** > Episodes List > Episode Detail

[2019-08-18 00:36] drinfernoo commented on #4
I was thinking about that as a drawback as well... maybe under the show itself have a section for "season artwork"? And then inside that it would show each season as a subsection, with the artwork inside?

I guess the add-on is meant less for browsing directly, and more for the endpoints to be used in the info dialog?

[2019-08-18 01:12] jurialmunkey commented on #4
I think both aspects are important. The browsing experience has to work well so that the plugin paths can be used as widgets.

This approach is also a possibility. The main drawback is that it will require it's own unique function rather than using an existing approach. Not the end of the world, just not as neat code wise as the details landing page.

I'll have more of a think about what approach

[2019-08-18 01:22] drinfernoo commented on #4
My other idea (I could open another issue 🤣) was to maybe have the ability to just open info directly when you choose a movie/show/episode item, instead of taking you into the add-on itself. That would especially make widgets a bit easier to use, in my opinion.

[2019-08-18 02:27] jurialmunkey commented on #4
You should already be able to open the info dialog by pressing info on a widget item. If you don't have an info button, you can do long-press ok to open context menu and then choose "Information".

If I change the onclick behaviour then it will break the browser functionality. Plus, I'd rather skinners decide how to handle widget onclick actions instead of the addon/user forcing it upon them.

If

[2019-08-18 02:58] drinfernoo commented on #4
That's all totally fair! Makes sense to me 😉

[2019-08-18 03:28] jurialmunkey commented on #4
On that note, I just pushed an update to AZ2 that will open the info page for themoviedb helper widgets.

[2019-08-18 03:48] drinfernoo commented on #4
Is that a setting or default? Either way, I should be able to push it to the repo tomorrow morning.

[2019-08-18 06:12] jurialmunkey commented on #4
Default. Makes TMDb Helper homescreen widgets have same behaviour as they do in the info dialog.

Also, no rush! Whenever you have the time.

[2019-08-20 22:42] jurialmunkey commented on #3
The issue with trakt is that it doesn't return images. So having images requires abusing another API and making a request for every single item in the list.

[2019-08-20 23:01] drinfernoo commented on #3
You could use the Trakt API just to retrieve the list, and then poll TMDb's API for the actual metadata/artwork on each item. That's how most video add-ons typically do it, from what I understand.

[2019-08-20 23:01] starman2908 commented on #3
Ah that makes sense... i thought it could be accessed on per user basis via authentication with the pull being user dependant on subscription. Thanks for looking into it.... the TMDB helper with AZ2 is fantastic and more than enough!!

[2019-08-21 02:46] drinfernoo commented on #3
Another really cool side effect of this would be to possibly be able to manage Trakt from the information dialog 👌

[2019-08-24 09:36] jurialmunkey commented on #3
Yeah that's a request per every single item in the list. That's a massive amount of requests. One list of only 25 items = 25 requests. Currently I make one request for the whole TMDB list. Requesting for every single item would exponentially increase the number of requests that my API key is making. Considering that TMDb is already struggling with traffic, I would like to respect their API as much

[2019-08-24 09:38] jurialmunkey commented on #3
Yeah for the initial trakt list it would be user based authentication. However, the trakt api doesn't return images so I need to use another api to get the images.

[2019-08-24 23:05] drinfernoo commented on #3
At the risk of sounding insensitive regarding TMDb's recent server issues, basically *every* third party Kodi add-on functions as I mentioned previously, and I can only remember one or two times when TMDb couldn't handle the load. They deliberately throttle requests when they go over a certain threshold... and some add-ons definitely cross that threshold, depending on the way the user has them set

[2019-08-25 00:50] jurialmunkey commented on #3
Increased hosting costs due to traffic from 3rd party kodi add-ons was a big part in why Trakt stopped exposing image paths via its API in the first place.

Regardless, my main issue is the way that my plugin is designed to be used by skinners. With a 3rd party streaming addon, requests are limited to a per directory basis. New requests are only made when the user browses to a new node in the dire

[2019-10-09 22:58] PhunkMaZ opened #5 "[Bug] Phyton Exceptions with chars like äüö"
Hi, i get lots of exceptions with movies and tv-shows having special characters like the german äöü in its title. Same goes for some actors with french characters in the name.

Most of the errors are
- UnicodeDecodeError: 'ascii'
- UnicodeDecodeError: 'utf8'

I can upload a log if needed.

Greetings

[2019-10-19 22:07] jurialmunkey commented on #5
Platform? Kodi Version? Exact Steps to Reproduce?

[2019-10-19 23:22] jurialmunkey commented on #5
I think I've managed to fix this bug. If you could test latest git version and confirm, that would be greatly appreciated.

[2019-10-20 12:16] PhunkMaZ commented on #5
Hi

Systems are:
Intel NUC: Win 7, Kodi 18.4 Stable
PC: Win 10, Kodi 18.4 Stable and 18.5 Nightly

The bug appeared in movies like Star Trek: Zur**ü**ck in die Gegenwart or tv-shows like Akte X: Die unheimlichen F**ä**lle des FBI.

Anyways, it's working now with your latest github version. No exceptions in log.

Thanks for all your work!

[2019-10-20 22:10] jurialmunkey commented on #5
Thanks for testing and confirming. Much appreciated!
I've submitted a pull-request for the fix, so it should be up on the official repo soon.

[2019-10-20 22:10] #5 closed

[2019-11-15 07:46] jurialmunkey commented on #3
@starman2908 @drinfernoo - I've ended up changing my mind on this matter and I've now added support for trakt lists with basic info look-ups from TMDb api.

I'm testing it out provisionally, so for now it will just be the github version. Once I've done more testing and I'm satisfied it isn't going to completely blow-out the number of requests to TMDb, then I'll submit the changes to official repo

[2019-11-20 10:51] skyfsza opened #6 "Trakt List Container.Content and ListItem.DBType bug"
Hi Jurial,

Thanks for the great work with this addon and all your skins!

I have been doing some testing with the new Trakt integration and picked up a small bug with TV Shows in the "Trending Lists, Popular Lists, Liked Lists and Your lists" directories being set with Container.Content & ListItem.DBType movie instead of tvshow.

Thanks!

[2019-11-20 10:56] skyfsza opened #7 "Pagination for Liked Lists (trakt)"
Hi Jurial,

Would it be possible for you to add pagination or remove the limit on the "Liked Lists (Trakt)" directory?  Currently its being limited to 10 "Liked Lists".

Thanks!

[2019-11-23 01:36] jurialmunkey commented on #6
It was intentional because Trakt user lists can mix content types so I just set them all to movies in Kodi. However, I just pushed an update which will compare number of movies with number of tvshows and set Container.Content appropriately. ListItem.DBType should also set correctly now.

Can you test latest and confirm that it is now working correctly?

[2019-11-23 01:49] jurialmunkey commented on #7
Pagination is probably not necessary since it's just text being returned and no details are being looked up.

I've increased the limit to 250 lists. Let me know if you need more or, alternatively, if the increased limit causes performance issues (appears fine for me on my laptop but it has much better specs than my htpc which I haven't tested on yet).

[2019-11-23 07:27] skyfsza commented on #6
Just did a quick check and looks like DBType and Container.Content are being set as tvshow now.

Thanks for the update!

[2019-11-23 07:27] #6 closed

[2019-11-23 07:32] skyfsza commented on #7
Just did a quick test and am now seeing all my "Liked Lists".  Testing done on a Shield TV and don't see any noticeable increase on load time.

Thanks!

[2019-11-23 07:32] #7 closed

[2019-11-23 22:57] #3 closed

[2019-11-27 05:40] drinfernoo opened #8 "[Request] "Trakt Manager""
Is it at all possible that in the future we could get the ability to add and/or remove items from lists in Trakt? It would also be great if this included marking watched statuses.

There are a handful of third-party add-ons that have the ability to do this by the Trakt id, which I would imagine this add-on would also have access to 😁

[2019-11-27 08:22] skyfsza opened #9 "[Request] Trakt ID property"
Is it possible for tmdbhelper to add the movie/tvshows/episodes Trakt ID as a ListItem.Property?

Thanks!

[2019-11-27 22:50] jurialmunkey commented on #9
I can add it for lists from trakt but not from TMDb. TMDb doesn't return trakt id/slug afaik.

Would that be useful? What are you trying to achieve with the ID?

[2019-11-27 22:55] jurialmunkey commented on #8
Yeah im actually working on something along these lines.

Basically was thinking of having
Add/Remove to/from collection/watchedhistory/watchlist

I could also do add to custom list. Remove from list is a little more complex and would require a context menu item - so that's a maybe. Reorder item would be a pain and probably better done on trakt website. Same with hide/unhide.

Are there any other

[2019-11-28 02:12] drinfernoo commented on #8
Those all sound good. I can't necessarily think of anything you're missing 👍

[2019-11-28 08:44] skyfsza commented on #9
That would be great, no problem with not having on items from TMDB lists.

Side question, when I use for example, info=similar or info=recommendations,  I assume thats coming from a TMDB?   if so, is it possible to add option to choose / default to Trakt?

Trakt ID would allow me to link into addons to gain features like Trakt Manager and in certain instances ability to trigger Play action.

Thank

[2019-11-28 13:14] jurialmunkey commented on #8
Okay I've done Add/Remove to/from collection/watchedhistory/watchlist
Browse to an item in the addon and you will get those options at the bottom. When you add an item to a list, you need to back out and then re-enter for the list to update and show the new details.

Tested with tv/movies, but not episodes yet - I'll have a look at individual episode options tomorrow.

[2019-11-29 08:52] jurialmunkey commented on #8
Episodes Watched/Collect should now be working too.

[2019-11-29 21:38] drinfernoo opened #10 "[Bug] Cannot Authenticate Trakt"
I'm getting this error when trying to authenticate Trakt in settings:

[code]

[2019-11-29 21:40] drinfernoo commented on #10
I'm also unable to view any lists in the Trakt section without authenticating, but the dialog box it shows mentions missing API keys, even though I have entered both a TMDb *and* OMDB key.

[2019-11-29 23:44] jurialmunkey commented on #10
Oops! Yes wrong error message in dialog -- Instead, it should say something like "Missing/Invalid Trakt Token" "You must Authenticate your Trakt account to use this feature".

Regardless, the authentication bug was my fault and caused by recent updates to trakt management functions. Should hopefully be fixed now.

[2019-11-29 23:54] jurialmunkey commented on #9
Similar and Recommended are lists provided by TMDb API. I don't understand your question though - if the list comes from TMDb, how would it be possible that it comes from Trakt?

The Trakt API doesn't provide lists of recommendations/similar items based upon another item.

You can see what API endpoints each provide here:
https://developers.themoviedb.org/3/getting-started/introduction
https://tra

[2019-11-30 02:56] jurialmunkey commented on #8
Also added some context menu items for Add/Remove so that it can be done from TMDb Helper widgets.

[2019-11-30 07:43] skyfsza commented on #9
Thanks for adding the Trakt Manager, I think that actually covers 90% of the reason I was looking for the trakt_id.

For playing items, I have found a workaround with an addon that supports TMDB ID instead of trakt id.

Thanks!

[2019-11-30 07:43] #9 closed

[2019-11-30 15:28] drinfernoo commented on #10
I updated the version on repo, but the version number is the same, so Kodi is having trouble finding an update.. Probably due to GitHub caching the old `.zip` file. Hopefully I'll be able to test later this afternoon.

[2019-11-30 21:20] jurialmunkey commented on #10
I've bumped the version if you want to update again.

[2019-11-30 21:35] drinfernoo commented on #10
Sweet, working now :)

[2019-11-30 21:35] #10 closed

[2019-12-01 03:45] drinfernoo opened #12 "[Request] Player Documentation"
Hoping you'll give us some guidance in how to write and distribute player files soon... There are some third-party add-ons that have similar functionality, but it appears that the player files are quite a bit different.

[2019-12-01 06:19] jurialmunkey commented on #12
Still ironing out some bugs but it's pretty straightforward. I'm planning on keeping it fairly simple.
For an example, see the netflix player:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/players/netflix.json

Put player files in `userdata/addon_data/plugin.video.themoviedb.helper/players/`

- "name": label in the pop-up select dialog
- "plugin": plugin ID w

[2019-12-01 07:07] #12 closed

[2019-12-01 07:30] notoco commented on #12
Can you unlink {title} - Title (year) to only {title} and add {year} separately?

[2019-12-01 07:44] skyfsza opened #13 "Detailed Information at List level"
Currently it seems that I am only getting detailed Infolabels (MPAA, Ratings etc) when I enter into a TV show / Movie and not at the parent list level.

Is it possible to add a settings option which enables "detailed" information at the top level when browsing in TMDBhelper?

[2019-12-01 08:34] jurialmunkey commented on #13
It's possible but I don't want to as it makes the plugin significantly slower.

To get a list from TMDb requires one API request. Getting detailed information requires making an additional request for every single individual item. So for a list of 25 items that is at least 25 requests.

TMDb caps requests at 4 per second. For a list of 25, that will take 6.5 seconds.
If you have 10 widgets, that's

[2019-12-01 08:39] jurialmunkey commented on #13
BTW - if you have entered into the detailed item, its information will be cached and the plugin will use it in all lists.

[2019-12-01 08:41] skyfsza commented on #13
Thanks for the feedback.

That makes sense, will stick with skinhelper at the "list" level for info that is missing.

Thanks!

[2019-12-01 08:45] jurialmunkey commented on #12
You already can.
Sorry I missed a few of the possible tags:
{title} = `episode title or movie title`
{showtitle} or {tvshowtitle} or {clearname} = `tvshow title or movie title`
{year} = `year only e.g. 1999`
{originaltitle} = `original language title`

[2019-12-01 09:00] notoco commented on #12
cool. All in all, I looked at the code and saw that it was.

[2019-12-01 09:03] jurialmunkey commented on #12
No worries! Let me know if any other infolabels are needed. I can pass through pretty much any, just not sure what others are useful.

[2019-12-01 09:44] skyfsza opened #14 "Player Location"
Thanks for the players feature, working perfectly!

When updating TMDB helper all custom players are overwritten / deleted.  Could we move the players location to userdata instead of addons?

Thanks!

[2019-12-01 09:45] skyfsza commented on #14
Apologies, probably help if I read the "readme"....

[2019-12-01 09:45] #14 closed

[2019-12-01 14:48] notoco commented on #12
You also need to improve on the Wiki. I am looking forward to when it will be added to the ArcticZephyr2 skin

[2019-12-01 15:05] drinfernoo commented on #12
@notoco AZ2 already uses TMDbHelper in it's info dialog.

[2019-12-01 15:06] notoco commented on #12
I know, but I don't see the play option

[2019-12-01 15:20] notoco commented on #12
okay - I found, I searched earlier after entering information, and not after entering directly.

[2019-12-01 23:31] #8 closed

[2019-12-02 00:15] drinfernoo opened #15 "[Request] Hide Trakt Management Options When Trakt is not Authorized"
It's in the title 😄

[2019-12-02 00:22] drinfernoo opened #16 "[Request] Proper Icons in Sections"
In the section for a movie or TV show, it would be really nice if the various options had a simple icon of their own, rather than using the exact same artwork from the selected item on every line.

The current solution, in any view besides List, is just a bunch of the same artwork over and over again, which is a bit monotonous.

[2019-12-02 02:49] jurialmunkey commented on #16
Haha I actually had this exact same thought yesterday! I started working on some icons in a local branch yesterday and hopefully will have something ready in the next few days.

[2019-12-02 02:53] jurialmunkey commented on #15
They already shouldn't show without auth. I check for whether the auth token has been saved and only show if it is - maybe there's a bug in my code. I'll have a look later today

[2019-12-03 11:53] notoco opened #17 "[Bug] Error with Polish special characters when try to play"
When trying to play a movie using player, if the movie title contains Polish characters in the name (I chose Polish in the add-on options), an error message pops up and the player selection window does not appear
Errors in log:
[code]
Movie - Ślicznotki - in EN:Hustlers (2019)

[2019-12-03 22:16] jurialmunkey commented on #17
Thanks for the bug report.

Can you test with latest version and confirm if the bug is now fixed?

[2019-12-04 06:47] notoco commented on #17
Window to choose player is open, but when I choose - still error
[code]

[2019-12-04 07:32] jurialmunkey commented on #17
Okay, hopefully should be fixed now! 🤞

[2019-12-04 14:00] notoco commented on #17
works!

[2019-12-04 14:00] #17 closed

[2019-12-05 10:53] notoco opened #18 "[Request] Turn off default player"
Maybe it's worth considering turning off the default players? Although Netflix is OK for me, I don't use YouTube at all. I have my own other plugins that I use and it's getting too confusing.

[2019-12-07 13:29] drinfernoo opened #19 "Solution for Widgets"
I had considered using this to populate widgets on my homescreen, but ran into a snag. On selection, rather than playing, the add-on opens into that item's "detail view".

I propose the current functionality be moved into a "script" interface, and to allow the "video" interface for the add-on to *only* contain the video file entries, as well as the "drill down" into seasons/episodes for TV shows.

[2019-12-08 12:46] jurialmunkey commented on #19
You can click the first item in the details view to play the item.

I'm planning on adding a toggle in settings on what default action for widgets should be.

[2019-12-08 16:23] drinfernoo commented on #19
That will work as well!

[2019-12-09 15:12] drinfernoo commented on #15
I did notice that you've combined them into a single item on the main context menu, but it still seems to show even without Trakt authorization.

[2019-12-11 01:49] jurialmunkey commented on #19
@drinfernoo - Latest version now has an option in settings for Default Widget Action.

Default action is to Play if a movie/episode and Open Season if a tvshow.

However, if you go into the addon itself, it should behave the normal way and show detailed item with additional lists such as "Recommended" "Cast" etc. This behaviour can be forced in the widget by adding the param `&amp;browse=True` to

[2019-12-11 02:10] drinfernoo commented on #19
I'll give it a shot soon!

[2019-12-11 03:23] jurialmunkey commented on #19
Actually, looks there's a bug which causing a crash. Trying to figure a solution out.

[2019-12-11 04:46] jurialmunkey commented on #19
@drinfernoo - Okay, I think it is working properly now.

I had to change my approach a little bit to ensure backwards compatibility.

Instead of having options in the setting dialog, there is now just a `&amp;widget=True` param that can be added to the widget path to change the default action to play.

Any newly added widgets will automatically have `&amp;widget=True` but old widgets will either n

[2019-12-12 09:02] skyfsza opened #21 "Fanart.TV dialog loop"
Thanks for adding Fanart.tv support!

I have added my API key in settings, however when opening TMDBhelper via video-addons, I get stuck in a loop with "Missing/Invalid FanartTV API key" dialog. Pressing OK launches the dialog again (and again), force quitting Kodi seems to be the only way to get it to stop.

[2019-12-12 11:15] jurialmunkey commented on #21
You shouldn't need to add an API key - the default key works fine. I've removed the setting because it isn't necessary and will cause confusion - it sounds like you entered your personal key, which should be put in the client key setting not the API key setting (which is a developer key).

[2019-12-12 11:23] skyfsza commented on #21
Thanks for the feedback.  I put my personal key in both fields as I was not sure which to use. Removing the key from "API key" has fixed the looping dialog

Thanks again!

[2019-12-12 11:23] #21 closed

[2019-12-12 11:56] skyfsza commented on #19
@jurialmunkey I have an option in my mod of your Aura skin that sets an onclick action for all video content widgets / dynamic lists to open VideoInfo (similar to setting Kodi's "default select action" to Show Information).

When accessing TMDBhelper via video-addons, Kodi appears to ignore the onclick and uses the default kodi select action (play) which takes you into the tmdbhelper detailed info

[2019-12-12 15:57] drinfernoo commented on #21
With this chan, not being able to enter a user key, will that inflict any throttling on the request?

[2019-12-12 21:37] jurialmunkey commented on #15
Oh, I didn't realise you meant in the context menu - I thought you meant in the addon browser.

I'm not sure if it is possible because it needs to be based on xbmc conditional visibility - i.e. I cant run a script *before* the context menu is shown to check whether authorised and I don't think I can check addon settings as an xbmc conditional.

[2019-12-12 22:08] jurialmunkey commented on #19
@skyfsza - I've added an option in settings to change the default action in the addon (Browse | Play | Show Info)

[2019-12-12 22:22] jurialmunkey commented on #21
You can still enter a client key just not a developer key. Having a VIP client key is what gets you faster requests - a different developer key makes no difference and only serves for traffic statistics.
https://fanart.tv/2015/01/personal-api-keys/

There shouldn't be any reason for users to enter developer keys (however, you do need a personal OMDb key). I haven't differentiated between a user en

[2019-12-12 23:15] drinfernoo commented on #21
Gotcha 👍 I must've missed that you could still enter a personal key. Carry on 😁

[2019-12-13 00:06] skyfsza commented on #19
perfect, thank you!

[2019-12-13 17:58] drinfernoo commented on #15
I looked a bit at the code, and realized it may be a bit more substantial change, but my proposed solution would be to remove the context menu definitions from `addon.xml`, and simply add context menu items to your `ListItem`s whenever your menus populate. This way, you can control visibility easier (add the item or don't) based on various conditions, like Trakt being authorized 😉

It would essent

[2019-12-13 18:04] drinfernoo opened #23 "[Feature Request] Allow multiple player files per plugin"
There are a number of third party add-ons that allow for setting various runtime parameters in their URI, aside from media metadata... and in the past, other add-ons that supported this "player file" integration could have multiple player files defined, which would all show up to select from where applicable.

Would that be possible here?

[2019-12-13 18:13] drinfernoo opened #24 "[Request] Allow for more complex player files"
Considering that some add-ons don't provide URI access to all parts of the add-on, it can often be useful to have the ability to "manually" step through the add-on via a defined set of rules in a player file. Take this player file, from an add-on with similar functionality, for the Netflix add-on:

[code]

In essence, the add-on would iterate through each "link", applying each "step" along the way

[2019-12-13 18:16] drinfernoo commented on #23
An  added bonus of me including the player file shown in #24, is that it shows the `id` and `priority` tags, which could easily be used for identification and sorting of various player files, including per-plugin multiples 😁

[2019-12-13 23:46] jurialmunkey commented on #24
It's very much a maybe.

The "steps" feels very much like a hack (and I'm not sure it would fly in the official repo). IMHO, plugins like Netflix should expose a playable url - I'm hoping that by having TMDbHelper in the official repo, that more video plugins will look to provide compatibility with it.

Also, I'm not really looking to recreate Meta (or its fork OpenMeta). Meta isn't a banned addon

[2019-12-13 23:57] jurialmunkey commented on #23
You already can have multiple player files. Just create a new `player.json` file with a different name e.g. `netflix2.json`

Some sort of "priority" sort tag is definitely planned. I don't really see the value of the "id" tag though as the file name and/or plugin name already act as unique identifiers.

[2019-12-14 00:48] drinfernoo commented on #23
Hmm, from my (limited) testing while working on #22, it seemed that since paths were saved using the plugin as a key, they would overwrite each other when multiple files had the same plugin value. This was especially annoying when one player defined a `play_movie` path, for example, but a different player for the same plugin did not. The key would be created with the first player, but overwritten

[2019-12-14 01:07] jurialmunkey commented on #23
Ah, yes you're right. I only quickly tested if it showed up in the list, not whether the action worked. I can see where the issue is - fix incoming shortly.

[2019-12-14 01:15] jurialmunkey commented on #23
This commit should hopefully fix the issue https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/079846aaeeb2cd1693a1f422e917734d11aedf72

[2019-12-14 01:16] #19 closed

[2019-12-14 03:49] jurialmunkey commented on #16
Finally got around to adding icons! https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/2b1497767ea8375691c9bf5933a0520b03a0dbdb

[2019-12-14 03:49] #16 closed

[2019-12-14 03:55] #4 closed

[2019-12-14 04:55] jurialmunkey commented on #15
I initially did have the context menus this way (i.e. attached to the ListItem itself). However, for some reason Kodi will only show context addon entries on widgets (both home screen and info dialog), and not the ListItem context menu entries - which is a real pain as I most frequently want to add items to my watchlist from widgets, especially since in the addon browser section you don't even nee

[2019-12-14 05:31] drinfernoo commented on #15
Good call, I forgot that they didn't show on widgets then... Is that because of something in Skin Shortcuts, I assume?

[2019-12-14 06:57] jurialmunkey commented on #15
Nah, it doesn't work even if the widget is hardcoded. It's something in Kodi core.

[2019-12-14 11:35] #23 closed

[2019-12-15 04:54] drinfernoo commented on #19
I may be doing something wrong, but none of the options for "Default select action in addon" seem to actually *do* anything 😦 I pointed a widget at this add-on (well, one for movies and one for shows), and when selecting an item, I either get a never-ending busy spinner, which I can back out of, to little effect... or a random info dialog, or sometimes both?

Everything works well inside the add-o

[2019-12-15 11:10] jurialmunkey commented on #19
Widgets are working fine for me.

However, the default select action doesn't affect widgets unless you remove the `&amp;widget=True` param from the widget path (basically the widget param overrides that setting and forces it to be play).

[2019-12-15 12:29] drinfernoo commented on #19
@jurialmunkey Oh, I think I've had it backwards! I wasn't removing that, because it was true that it was a widget 😅

[2019-12-15 17:42] drinfernoo commented on #19
Given that we need to remove that argument, could AZ2 get the ability to manually edit the action for a widget?

[2019-12-16 02:54] drinfernoo commented on #19
I really feel like something's not right. Without the `&widget=True` parameter, all I ever get is the information dialog, regardless of the default action setting.

[2019-12-16 10:25] skyfsza opened #25 "Disable fanart.tv per widget"
Would it be possible to have an option where I can disable fanart.tv on a per widget basis? similar to how you can remove &widgets=True on an individual widgets for the default action?

Use case would be having widgets within VideoInfo (similar to your AZ2 tmdb widgets) without fanart.tv so as to speed up load times, but still having fanart.tv as default for home / all other widgets where Clearlog

[2019-12-16 20:33] jurialmunkey commented on #25
Yeah this is a good idea. I was having a similar thought the other day - just thinking about the best way to implement it

[2019-12-16 21:17] drinfernoo opened #26 "[Feature Request] Trakt Watched Status"
I Iove those little check marks 😁

[2019-12-18 01:44] jurialmunkey commented on #25
Okay, in latest update now only additional artwork is pulled from fanart.tv when inside the add-on itself. There is an additional option in settings to enable artwork for widgets (i.e. this setting will enable fanarttv for plugin paths that have `&widget=True`).

If you need to use additional artwork elsewhere, you can force it by adding `&amp;fanarttv=True` - however, the user will still need ena

[2019-12-18 01:49] jurialmunkey commented on #19
@drinfernoo - Anything mentioned in the debug log? I'm definitely not getting the behaviour you describe. I've been using on LibreELEC and Windows for the majority of my widgets and I haven't encountered any issues of this sort.

[2019-12-18 01:50] jurialmunkey commented on #19
Also, do you have Trakt authenticated?

[2019-12-18 02:00] drinfernoo commented on #25
So by adding `&amp;fanarttv=True` to a widget item *without* `&widget=True`, we could have a widget that gets extra artwork, but also follows the default action?

[2019-12-18 02:28] drinfernoo commented on #19
I'm gonna update repo with latest tonight and I'll do some more thorough testing.

To be clear: the default behavior when setting a widget, is that it will have `&amp;widget=True` appended, forcing the widget to play by default. By removing that tag, it should respect the setting for the default action?

[2019-12-18 02:32] jurialmunkey commented on #25
Yep, anything you add `&amp;fanarttv=True` to will get extra artwork (as long as it isn't disabled in addon settings)

[2019-12-18 02:40] jurialmunkey commented on #19
Yes, that's correct. As long as the skin itself doesn't override the `<onclick>` action for the widget (skins can specify onclick for dynamic content paths but not views in media windows).

Which, as I say that, I realise that there is a special onclick action specified in AZ2 for widgets from TMDbHelper - I use a modified stripped-back version of AZ2 at home which is why I wasn't see that issue.

[2019-12-18 02:49] jurialmunkey commented on #19
@drinfernoo - okay I've pushed a fix to AZ2 for the widgets issue.

[2019-12-18 03:26] drinfernoo commented on #19
I've just updated the repo to the latest of both add-ons, and am not seeing the default action setting being respected. Leaving the widget with `&amp;widget=True` does seem to let it default to "Play/Open", but removing that tag makes it "Browse", no matter the action I've selected in settings.

[2019-12-18 03:28] drinfernoo commented on #25
@jurialmunkey I'm not seeing this behavior. With a widget with only `&amp;widget=True`, it looks like I'm getting extended artwork, but when removing that tag and replacing it with `&amp;fanart=True`, I don't.

[2019-12-18 03:46] jurialmunkey commented on #25
It needs to be `&amp;fanarttv=True`
You're missing the "tv" part of "fanarttv"

[2019-12-18 04:00] drinfernoo commented on #25
@jurialmunkey Haha, wow... let me try again 😅

[2019-12-18 04:03] drinfernoo commented on #25
Ok, this is working! Nothing to see here 😆

[2019-12-18 04:42] jurialmunkey commented on #19
@drinfernoo Can you try again with latest version of plugin?

[2019-12-18 04:48] jurialmunkey commented on #19
Should be working with latest update. Need to `ReloadSkin()` if you change the setting.

[2019-12-18 08:06] skyfsza opened #27 "Add_path not working"
In the later versions of TMDBhelper it looks like the default play action is causing problems with add_path feature.
When running the following for VideoInfo widgets onclick:
RunScript(plugin.video.themoviedb.helper,add_path=$INFO[ListItem.FolderPath],call_id=1137,delay=0.35,prevent_del)
TMDbHelper.Path.Current gets set with the info=play instead of info=details, resulting in looped busydialog and

[2019-12-18 11:33] xyzfre opened #28 "How to add players"
How can I add my own players,, Is it possible to add addons that I use ,,,,like OpenMeta does

[2019-12-18 16:45] drinfernoo commented on #28
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Player-Function

[2019-12-18 20:57] jurialmunkey commented on #27
Yep you're right.

I've just pushed a commit that should hopefully fix this issue. Can you test and confirm?

[2019-12-18 20:58] #25 closed

[2019-12-18 21:02] #28 closed

[2019-12-18 21:05] jurialmunkey commented on #18
I haven't forgotten this issue! I'm just still thinking about the best way to do it.

[2019-12-18 21:10] skyfsza commented on #27
Thanks for update, Movies are now working, TMDbHelper.Path.Current path example:
plugin://plugin.video.themoviedb.helper/?info=details&fanarttv=False&type=movie&tmdb_id=604

For TV Shows, still have a dialogbusy loop, TMDbHelper.Path.Current path:
plugin://plugin.video.themoviedb.helper/?info=seasons&fanarttv=False&type=tv&tmdb_id=1405

Side request, could you remove the fanarttv=False when using

[2019-12-18 21:11] skyfsza commented on #25
Thanks for changes, can confirm working perfectly for me.

[2019-12-18 22:01] jurialmunkey commented on #27
Okay, should be fixed now.

Why are you adding `fanarttv=False` to the path? The skin *only* checks for `fanarttv=True` - adding False does nothing at all.

If you want to add `fanarttv=True` to the add_path you can do:
`add_path=$INFO[ListItem.FolderPath,,&amp;fanarttv=True]`

[2019-12-18 22:22] skyfsza commented on #27
Thanks, TV shows now working.

i'm not setting fanarttv=False, figured the addon was doing it?
onclick i'm using
RunScript(plugin.video.themoviedb.helper,add_path=$INFO[ListItem.FolderPath],call_id=1137,delay=0.35,prevent_del)

Using add_path=$INFO[ListItem.FolderPath,,&amp;fanarttv=True] did the trick, thanks!

[2019-12-19 07:34] skyfsza opened #29 "Trending, Popular, Liked lists error"
Getting an error on the latest version when trying to enter Trending, Popular and Liked list folders. kodi log with error message:

[kodi.log](https://github.com/jurialmunkey/plugin.video.themoviedb.helper/files/3982206/kodi.log)

[2019-12-19 07:48] jurialmunkey commented on #29
Whoops! Stupid error on my part. Should be fixed now.

[2019-12-19 07:59] jurialmunkey commented on #29
@drinfernoo - if you can pull in this 2.0.11 version to the repo when you get a chance, that would be great. The 2.0.10 version is broken for these trakt lists as reported by skyfsza here and 2.0.11 fixes the issue.

[2019-12-19 07:59] skyfsza commented on #29
Can confirm it's working now, thanks!

[2019-12-19 07:59] #29 closed

[2019-12-19 11:02] skyfsza commented on #27
Another quick Q on the add_path.

I seem to be having an issue with path history. If i use add_path, TMDB_Info.xml (taken from AZ2)  correctly launches DialogVideoInfo, however when I onback from VideoInfo, it does not appear to remove the item from the path history which then causes DialogVideoInfo to be launched again with the same title. onback from the 2nd VideoInfo correctly removes the path

[2019-12-19 15:45] SerpentDrago opened #30 "Install players from url slight issue"
When installing players from url .

You must enter url , then click ok in settings . Then go back to be able to "install players from url"

instead of expected behavior of just being able to enter the url and it installing directly

[2019-12-19 16:00] drinfernoo commented on #30
I didn't have this behavior when I was testing, but I'll look into it.

[2019-12-19 16:08] SerpentDrago commented on #30
If players url had already been entered in , it will work , this is tested from a blank / fresh install

[2019-12-19 16:24] drinfernoo commented on #30
That may just be "the way it is"... since it reads the URL directly from the setting, so if the setting hasn't been "set" yet, it doesn't have anything to read.

[2019-12-19 20:44] jurialmunkey commented on #30
@drinfernoo - I'm thinking of maybe combining the two into one setting. What do you think?  Can you foresee any issues?

i.e.
1. User clicks setting "Download Players From Url"
2. Keyboard pops-up for user to enter url. If they previously had entered a url it is autofilled.
3. Downloader function runs (maybe need another Yes/No confirm dialog before this stage?)

[2019-12-19 21:08] jurialmunkey commented on #30
See latest commit https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/92700b4d16710883a04c25ed830a8cdef7918d96

[2019-12-19 21:47] drinfernoo commented on #30
Yep, I like this. That seems like a good way to do it.

[2019-12-19 21:59] #30 closed

[2019-12-20 10:35] skyfsza opened #31 "ListItem.Studio issue"
Currently ListItem.Studio is being filled with a list of all studios separated by /
eg:  Showtime / Bonanza Productions / John Wells Productions / Warner Bros. Television / Showtime Networks

With the current method,  resource.images.studios is unable to provide studio images as ListItem.Studio does not match any file names.

Direct texture file loading failed for resource://resource.images.studio

[2019-12-20 21:18] jurialmunkey commented on #31
You can get the name of the first studio with `$INFO[ListItem.Property(Studio.1.Name)]`

See wiki for full list of available properties:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Detailed-Item

[2019-12-20 21:38] #31 closed

[2019-12-20 21:40] jurialmunkey commented on #27
Do you have this line in DialogVideoInfo?
https://github.com/jurialmunkey/skin.arctic.zephyr.2/blob/master/1080i/DialogVideoInfo.xml#L10

[2019-12-20 22:11] skyfsza commented on #31
Thanks, I will add a variables for tmdbhelper.

Just did a quick test and I seem to be getting studio no.2 as Studio.1.Name for TV Shows

TV:
ListItem.Property(Studio.1.Name): Sean Daniel Company
ListItem.Studio: Netflix / Sean Daniel Company / Platige Image / Pioneer Stilking Films
Movie:
ListItem.Property(Studio.1.Name) 20th Century Fox
ListItem.Studio 20th Century Fox / Chernin Entertainment

[2019-12-21 02:44] jurialmunkey commented on #26
@drinfernoo - I've added an option in settings to get watched indicators from Trakt for movies and episodes.

Tvshows and Seasons are a pain because they require iterating over every episode and checking if it is watched, which is very slow -- Trakt only returns play count and last watched date. There isn't a field with how many episodes have/haven't been watched.

[2019-12-21 03:08] jurialmunkey commented on #31
Ah, only production companies are getting added, not networks.

Latest commit should fix this issue. You will need to refresh the cache for that item to see updated info.

[2019-12-21 03:31] drinfernoo commented on #26
@jurialmunkey Most other add-ons do have the ability to show the marks on seasons and shows :( Glad the functionality is in now, though.

[2019-12-21 04:40] jurialmunkey commented on #26
If you've got any insight into what they are checking against, I'm happy to add it. Just currently I can't see any other method other than iterating over every episode.

[2019-12-21 04:48] jurialmunkey commented on #26
Nevermind, I've actually found it. There's a separate progress call which for some reason is under the "/show" section of the API rather than "/users" or "/sync" - makes no sense as the "/show" section is meant to only contain non-user-specific details about shows. All the other user-specific calls come under users and sync.

[2019-12-21 06:50] jurialmunkey commented on #26
Okay latest commit should add watched counts for tvshows and seasons. It does add significant additional wait time until the details are cached. Once cached it is pretty quick (but still slower than without).

[2019-12-21 07:04] #26 closed

[2019-12-21 08:12] skyfsza commented on #27
Yes, I have the del_path in DialogVideoInfo.

Just installed AZ2 and I am seeing similar problems with add_path as I do in AuraMod, although now it seems to be a looping issue rather than just double VideoInfo.

When clicking on a movie inside VideoInfo that is from one of the tmdb lists, add_path correctly launches VideoInfo, however when closing / onback, you get stuck in a loop of VideoInfo's b

[2019-12-21 08:43] jurialmunkey commented on #27
Okay, yep can confirm. Not quite sure what is causing it yet. I'll keep you posted.

[2019-12-21 09:13] skyfsza commented on #31
Thanks, can confirm it's working now.

[2019-12-21 09:41] jurialmunkey commented on #27
@skyfsza - Can you test latest when you get the chance? It seems like I've fixed the issue but I'm still not entirely clear on what the underlying cause is.

For some reason the listitem.folderpath was getting executed but I have no idea why - I've just hacked things to avoid the issue entirely by forcing info=details if added with add_path so it isn't possible to execute the play/info path.

[2019-12-21 10:18] skyfsza commented on #27
Show Info / Play loop looks like it's fixed, tested on AuraMod and AZ2.

I still seem to have the issue with onback reopening video info, this however is only happening on AuraMod and not AZ2.

Any ideas on what I could be missing?

Problem only happens when I have 1 path added. If I add more paths, then it onbacks correctly.

Video with multiple paths:
https://imgur.com/a/3olwLyq

With only 1 Pat

[2019-12-21 10:57] jurialmunkey commented on #27
There's your answer. The "prevent_del" param is stopping the property from being cleared on the last time.

When `prevent_del` is set, `del_path` is prevented from deleting the path and instead it deletes the `prevent_del` path.

Basic flow is:
1. Onclick `add_path` action adds the path to the history with `prevent_del` set.
2. Dialog Video Info is closed which triggers `<onunload>` and thus the `

[2019-12-21 11:03] skyfsza commented on #27
That did the trick.... feel like a bit of an idiot for not having tried that :)

Thanks for all your help, much appreciated.

[2019-12-21 11:03] #27 closed

[2019-12-21 11:47] skyfsza commented on #27
FYI, if you remove the Window.IsVisible condition, when you open DialogVideoInfo on non tmdbhelper items, the del_path is triggered which leaves you stuck on a dialogbusy from TMDB_Info.xml.

Went with this in DialogVideoInfo, which seems to work:
`    <onunload condition="!String.IsEmpty(Window(Home).Property(TMDbHelper.Path.Current))">RunScript(plugin.video.themoviedb.helper,del_path,call_id=113

[2019-12-21 12:12] jurialmunkey commented on #27
Ah! I knew there was a reason I added that condition originally!

Your solution works well!

[2019-12-21 12:36] skyfsza opened #32 "[Bug] with Play when default action is show info"
Small bug when you set default action to show information.

If you click on a movie, it will trigger DialogVideoInfo correctly. but If you then try use the play button, tmdbhelper triggers DialogVideoInfo again.

To get around it I added a custom button for tmdbhelper, but might be something you want to look at addon side.
`PlayMedia($ESCINFO[ListItem.FileNameAndPath,,&amp;widget=True])`

[2019-12-21 22:26] jurialmunkey commented on #32
Ah, I didn't think about this scenario at all. Fixed in latest. There is now a separate `?info=info` param.

[2019-12-21 22:45] jurialmunkey commented on #32
Actually, I've just realised the whole Action(Info) option messes with Kodi's inbuilt default select action and so I've had to remove it as it wouldn't be accepted into official repo.

If you need to have default select action be info then you should set the Kodi setting:
`Settings > Media > Videos > Default Select Action > Show Information`

And in the addon set default action to Play/Open.

Sorr

[2019-12-21 23:22] drinfernoo commented on #32
@jurialmunkey This doesn't affect the situation where we want the default action to be "Play/Open", though?

[2019-12-21 23:52] jurialmunkey commented on #32
No, there's still the option to select between Play and Browse as that still respects Kodi's default play action setting (i.e. if it is set to show information, the information will show).

The difference between Play and Browse is:

- Browse sets the listitems to be folders which open the detailed item folder. The first item of the detailed item folder is set to be playable (or open seasons folde

[2019-12-22 00:13] #32 closed

[2019-12-22 01:33] jurialmunkey commented on #18
I was thinking about having a dialog where users could enable/disable various options but I ultimately decided that it was simplest just to have a toggle to disable the bundle ones and then users can manage whatever is in addon_data folder themselves.
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/767e46120f145db7c8352dc76cb89f6faa5959c0

[2019-12-22 01:33] #18 closed

[2019-12-22 03:44] drinfernoo commented on #18
Would you be interested in a PR to add something to granularly enable/disable certain players? I could look at adding that.

[2019-12-22 05:29] Demonseeed opened #34 "[Request] Random Widgets"
Hello! Thank you very much for this awesome addon.

The issue I am having it each page of movies has a count of 10, then with a Next Page button.

When you point it to a widget, say the Trakt list “Latest Releases” for example, the widget will always only display the items from the first page.

I apologize if there is already a way to fix this that I am unaware, I just couldn’t find anything on it

[2019-12-22 06:00] jurialmunkey commented on #34
Are you asking how to show the next page item on a widget?

To show the next page item you need to add `&amp;nextpage=True` to the plugin path.
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Widget-Params

[2019-12-22 07:53] skyfsza commented on #32
No problem, makes sense if it's breaking builtin kodi features.

I dont suppose you know of a way skin side I could achieve a custom onclick inside MyVideoNav?  I tried adding an onclick, tried a button in focusedlayout, nothing seems to work.

Kodi's default select action --> Show Information "breaks" non Video addons so I prefer to have skin side "show info".

[2019-12-22 08:25] Demonseeed commented on #34
Thank you for your response.

I’m looking for the widget to display more than 10 items before coming to the end of page one.

After looking at some other lists from other addons, I know what the problem is now, they have more than 10 items per page. 😂 My bad.

Instead, I’d like to throw in a minor feature request for the ability to change the number of items that show up in a page in the settings.

[2019-12-22 09:50] jurialmunkey commented on #34
For lists from TMDb, the API determines the number of items per page (which is 20). It is possible to change the limit for Trakt but, regardless, loading 50+ items just so you can randomise them is a terrible idea which would result in an excessive number of API calls.

I limit the number of items in Trakt lists for a reason: with extra art and watched indicators enabled, Trakt lists require three

[2019-12-22 09:57] skyfsza opened #35 "Service Monitor on widgets"
Does tmdbhelper have something like SkinHelper.WidgetContainer so the service monitor can be used on widgets / dynamic lists?

[2019-12-22 10:13] jurialmunkey commented on #35
Yes. I must've forgotten to add it to the Wiki:
[code]

Note that you don't need to specify a container for the service monitor to work in dialogvideoinfo. You only need to specify the container ID if you need info on the actual home page itself.

[2019-12-22 10:17] skyfsza commented on #35
Perfect, thanks!

[2019-12-22 10:17] #35 closed

[2019-12-23 04:55] Demonseeed commented on #34
Ah, I wasn’t aware of that. Thank you for the information. I apologize for posting an unnecessary request then, but I am glad I learned that information.

Thank you for all your hard work on this amazing addon!

[2019-12-23 06:25] jurialmunkey commented on #34
No worries!

What lists were you trying to randomise? Depending on the criteria, I might be able to provide a list that randomises the the items shown whilst still only showing 10 items.

[2019-12-23 07:05] Demonseeed commented on #34
Well I definitely appreciate that! The main two lists I’d like to randomize are the trakt lists Popular and Trending.

[2019-12-23 11:51] skyfsza opened #36 "Missing/Invalid OMDb API Key"
After kodi startup, if you have service monitor enabled, the first time the monitor does a look up it triggers the Missing/Invalid OMDb API Key dialog.

It doesnt effect the actual lookup and only happens once after startup.

[2019-12-23 11:56] jurialmunkey commented on #34
Okay, I'll have a look at what I can do.

I was actually thinking about doing something like this.

Difficult to get random without a script but you could definitely get the cycling between paths by using a skin variable as the widget path. It would require skin modifications though.

Probably much easier to do from the plugin side of things. I'll look into adding a "Random" section to the plugin

[2019-12-23 13:33] drinfernoo commented on #34
I've been attempting to write an add-on to do these types of "cycling" or "random" widgets, but was attempting to use Skin Shortcuts to set the properties, and ran into this: https://github.com/mikesilvo164/script.skinshortcuts/issues/10

Tackling it on the skin side may be a more fluid experience, but obviously isn't as "universal".

[2019-12-23 18:06] Demonseeed commented on #34
@jurialmunkey That would be an amazing feature to be able to choose multiple widget paths and have it randomly choose the path. That would effectively remedy my solution by allowing me to theoretically use it in any list (depending on implementation of course). Also, I was completely unaware of the Based on... paths, that feature’s presence makes me one step closer to using AZ2 over AuraMod lmao.

[2019-12-23 20:29] jurialmunkey commented on #36
Works fine for me.

Check that your OMDb API key is correct. If you don't have an OMDb API key, then make sure the field is completely empty (including any spaces).

The Invalid/Missing API Key dialog only displays if the API returns a "401 Unauthorised" error. You only ever get a 401 if the API rejects your credentials.

[2019-12-23 21:06] jurialmunkey commented on #34
Definitely not looking to do anything that advanced. Waiting with anticipation for your random widget plugin! 😁

I was simply thinking of having a widgets section in my addon where users can pick some categories from the plugin to use as a random widget. I wouldn't need something like skinshortcuts to walk through node paths - I would just be showing a pop-up list of compatible categories from the

[2019-12-23 22:38] jurialmunkey commented on #34
Okay, I've added a "Randomised" category.

So far I have `Genres | Based on | Trending List | Popular List | Liked List | Your List`

All of these will pick a random list of that type. The name of the list will by placed in `$INFO[Container.PluginCategory]`

I'll have some randomised page and additional options coming soon (the current ones were just the easiest to implement, whereas the others ar

[2019-12-23 22:43] Demonseeed commented on #34
And this is why you are one of my favorite developers, the speed on which you got this done was ridiculous.

I will definitely be testing this when I get home. Thanks again 👍

[2019-12-23 23:14] drinfernoo commented on #34
I've already pushed them to the repo as well with 2.0.16!

@jurialmunkey, if you're open to it, I'd love to pick your brain on Skin Shortcuts... I may be going about it all wrong by trying to call a "Just Select" method from Python, but have considered doing this as a custom window of my own.

Do you have any way to chat outside of GitHub or Kodi forum?

[2019-12-24 03:08] jurialmunkey commented on #34
@Demonseeed - Okay, I've now added 4 lists that show randomised items from Trakt `Trending | Popular | Most Played | Anticipated`

These lists display 10 random items from a list of 50. For example, `Random Popular Movies` will get the 50 most popular movies from trakt and then randomly select 10 to display in the list.

I tried out the random page idea but it honestly felt a bit odd and confusing

[2019-12-24 03:18] Demonseeed commented on #34
Sounds good, I will check it out!

As for the random pages - makes sense. I could definitely see some convoluted setting caused by it.

[2019-12-24 03:23] jurialmunkey commented on #34
@drinfernoo - I'm pretty bad with any messenger apps, particularly with being an Aussie and the time difference with the rest of the world. If you want to start an Issue thread on the github repo page, I'll try and respond there.

[2019-12-24 03:28] jurialmunkey commented on #34
What do you mean? They were already added in the last update.. The options that select a random list are still there (e.g. random genre or random trending list etc.) - I'm just not adding an option to show a random page number from a specific list (e.g. randomly show page 4 of popular movies).

[2019-12-24 03:30] Demonseeed commented on #34
Ah, gotcha! Sorry I misread your previous post. Still haven’t been home to check it out. Thanks again jurialmonkey!

[2019-12-24 04:47] Demonseeed commented on #34
Alright, I got home and tested out the Random Genres and Because You Watched random lists. These are perfect, thank you for your hard work.

One last question, I promise.
Is there a method for the widget label to include what it is pulling (maybe a $VAR?). That was bad explanation, so here’s an example of what I mean:

Random Movie Lost | Horror | {selected movie title} - where horror changes base

[2019-12-24 05:16] jurialmunkey commented on #34
Ah I thought you would be able to get `Container.PluginCategory` for the label but it doesn't seem to work.

I've added a widget property to the listitems which you can reference if you know the container ID of the widget: `$INFO[Container(ID).ListItem.Property(widget)]`

In AZ2 you can find the container ID for the widget by looking in 1080i/script-skinshortcuts-includes.xml and finding the inclu

[2019-12-24 05:18] Demonseeed commented on #34
Awesome, I’ll have to check that out in a bit. Thanks so much!

[2019-12-24 06:08] jurialmunkey commented on #34
Excellent!

[2019-12-24 06:08] #34 closed

[2019-12-24 06:20] skyfsza commented on #36
I think OMDb might have been having an issue yesterday (at least for me), strange part is I was getting OMDb results despite the dialog.

Not getting the Missing/Invalid key error today.

[2019-12-24 06:20] #36 closed

[2019-12-24 13:21] jurialmunkey commented on #36
The plugin caches results for 14 days (or longer if you change the setting). If a cached result exists, the plugin will use that instead of doing a request, so cached results will work even if the api is down etc.

Still it shouldn't be returning 401 unless API key is wrong.

[2019-12-25 17:49] drinfernoo commented on #34
I really dig this, but am a bit confused on how to get the proper label for the widget? For example, If I use "Random Movie Genre", can I use a variable in the widget label to denote *which* genre I'm seeing?

[2019-12-25 17:52] Demonseeed commented on #34
@drinfernoo Yes, you can. Use the variable that jurialmonkey posted above in the label, along with the ID provided.

For example, my random genre widget is called:
Random $INFO[Container(33106).ListItem.Property(widget)] Movies

Which in turn shows up as Random Horror Movies, with Horror being whatever genre it picked up.

[2019-12-27 01:58] jurialmunkey commented on #24
@drinfernoo - Can you test the player_steps branch:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/tree/player_steps

See default Netflix player for implementation:
[code]

The square brackets `[]` in play_movie and play_episode indicate a list of steps. The first step should be the base url. In the additional steps, curly braces `{}` are dictionary pairs with an infolabel name tha

[2019-12-27 03:33] drinfernoo commented on #24
Is this the case for all players now or just ones with steps?

[2019-12-27 03:50] jurialmunkey commented on #24
Just ones with steps. If it doesn't have steps, then there isn't anything returned for me to check whether it was successful, so I just have to assume that it was.

Also, if you're using a plugin that returns a folder of sources with stream quality in the label, then you can do some tricks to autoplay sources of a particular quality. For instance, you could play the first 1080p item by having a st

[2019-12-27 04:02] ruinernin opened #37 "Support players that set `xbmcplugin.setResolvedUrl`"
As this plugin has already resolved and found metadata relating to an item when an external player is called this addons should play the _ListItem_ it already has while using the playable URI returned by the external addon by way of `xbmcplugin.setResolvedUrl()`.

At the moment it "shells" out to an external script leaving all playing and metadata up to the external script.

[2019-12-27 04:06] drinfernoo commented on #37
Essentially, you would have this plugin interface with Kodi's `Player`, rather than expecting the called add-on to do so?

[2019-12-27 04:29] drinfernoo commented on #34
I'm not able to use that in AZ2 widget labels, at least. I just get a blank space where the `$INFO[...]` is, so it looks like "Random  Movies".

[2019-12-27 04:32] jurialmunkey commented on #37
This is an interesting idea. I wonder if there is information that is pulled from the source plugin that users would want? For instance, in the Netflix plugin the Genre info is quite different from TMDb and there is returning show information embedded in the Plot. I guess the trade-off is consistency of info vs. specialisation of info.

Also, not sure how it would affect calling the `info=play` fu

[2019-12-27 04:59] ruinernin commented on #37
It should still be possible for the external plugin to add data as I understand it from other addons.

Sure but assuming the external plugin has no data, this is still better than nothing.

I believe the metadata may be passed automatically in these cases if the flag `isPlayable` is set on the _ListItem_. I could be wrong about this though.

[2019-12-27 06:10] jurialmunkey commented on #37
Okay, I did a few tests with setResolvedUrl.

- External plugins (e.g. Netflix) do overwrite metadata even when resolving url, so no problem there.
- HOWEVER, because isPlayable needs to be set before calling the player function, there isn't any way to know whether a resolvedurl or a folderpath will be returned. Failing to resolve a url when isPlayable is set causes a "One or more items failed to

[2019-12-27 22:16] Demonseeed commented on #34
So I’ve been testing it for a few days, and I love this. It’s fantastic.

However, I did notice when setting multiple of the same widget (for example more than one Random Movie Genre widgets) occasionally they will grab the same genre or watched item, or whatever it is.

Is it possible to have it recognize a genre has been chosen and prevent other widgets from choosing the same one?

[2019-12-27 22:41] jurialmunkey commented on #24
I've also added priority sorting.
`"priority": 500,`

Value is an integer. Lower values mean the item will be shown closer to the top of the list. "Play" functions are always grouped together above "Search" functions.

Base priority is 1000 - so values less than 1000 will be shown above players with no priority set and values higher than 1000 will show below players with not priority.

[2019-12-27 22:45] jurialmunkey commented on #24
Still looking for a better method than position for seasons level in Netflix plugin as that feels too hacky and was the approach in OpenMeta that I didn't like.

[2019-12-27 22:49] jurialmunkey commented on #37
@ruinernin - Can you test latest version (2.1.0) and see if it is suitable for your needs?

I'm not resolving the url but I've found a way to pass the listitem metadata to the player nonetheless, so I think this should work with you.

I tested with a local dummy file with no metadata and it worked as expected (whilst still allowing plugins that do provide metadata to override) but I haven't tested

[2019-12-27 22:59] jurialmunkey commented on #34
Unfortunately not - each widget loads the plugin in a separate instance and so there isn't anyway to access the details of the other widgets other than by window properties. The other big problem is that widget containers typically refresh simultaneously, so it wouldn't even matter if I generated a whitelist/blacklist of genres as all widgets would be attempting to retrieve it (and potentially wri

[2019-12-27 23:04] drinfernoo commented on #24
@jurialmunkey Is there not a "season" InfoLabel?

[2019-12-27 23:09] drinfernoo commented on #34
I'm also loving it, but was wondering about the order that the property is set... because it doesn't appear in a widget label until after the widget has loaded. Is it possible to set that property *before* the widget has fully loaded?

[2019-12-27 23:59] jurialmunkey commented on #24
Not in the Netflix plugin at the season level for some reason.

I've opened a bug report:
https://github.com/CastagnaIT/plugin.video.netflix/issues/400

But until it is available the only solution I can see is to select position, particularly as Netflix sometimes names seasons other things than "Season X" (e.g. Stranger Things seasons are called "Stranger Things" "Stranger Things 2" "Stranger Thin

[2019-12-28 00:21] drinfernoo commented on #24
I figured that would be the hold up. I'll look at a few add-ons in the next couple days and confirm this is working. Two I know of for sure, that require this type of traversal, are EmbyCon and PlexKodiConnect, but there are certainly others.

[2019-12-28 00:25] jurialmunkey commented on #34
No because Kodi only creates listitems once the Plugin has signalled that the directory is complete and at that stage the plugin no longer has control over the items. The only way to get a property earlier would be to set it to a window property but then you have the issue of giving the window property a unique name so that it doesn't clash with the properties of other widgets (appending the conta

[2019-12-28 02:12] Demonseeed commented on #34
Ah well, can’t be helped I guess. Thank you!

[2019-12-28 02:25] ruinernin commented on #37
@jurialmunkey Can confirm this works, nice! Thanks.

[2019-12-28 02:39] #37 closed

[2019-12-28 10:49] 7E1EVEN opened #38 "Next up episodes"
I would love for TMDbHelper to have a next up episode playlist instead of next up TV Shows.
That way, if you create a widget for it. It’ll be just one click to start watching.

Thank you

[2019-12-28 16:56] SerpentDrago commented on #15
could you get it so it doesn't' show up on non tmdb helper items at least ?

        <visible>!String.IsEmpty(ListItem.Property(tmdb_id)) + [String.IsEqual(ListItem.dbtype,episode) | String.IsEqual(ListItem.dbtype,movie) | String.IsEqual(ListItem.dbtype,tvshow)]</visible>

change to

 <visible>String.StartsWith(ListItem.path,plugin://plugin.video.themoviedb.helper/) + !String.IsEmpty(ListItem.Prop

[2019-12-28 17:03] SerpentDrago commented on #15
Also i'd like to add , Jurial , you have been Amazing at adding features and fixing bugs . This addon is shapeing up to be a true replacement for lots of the other addons that are now outdated / have old code / etc .

And i'd just like to say thank you for doing all this !

Have a great new year !

[2019-12-28 17:05] SerpentDrago commented on #15
#39

Thanks @drinfernoo

[2019-12-28 18:04] stuoningur opened #40 "Incorrect API queries for certain shows?"
Hi,
I saw that for certain shows like The Witcher or as in the included log Lost in Space the API Query is getting a 404, other shows seem fine so far.

[https://pastebin.com/sqFt9Sz9](https://pastebin.com/sqFt9Sz9)

Thanks!

[2019-12-28 18:31] drinfernoo commented on #40
Seems like your API key was mistyped in settings to me, as I'm able to view The Witcher *and* Lost in Space with both the default key and my own.

[2019-12-28 20:56] stuoningur commented on #40
Maybe it's an issue how seren reports the info to tmdb helper. Opening the show directly via the addon works fine as well.

[2019-12-28 21:32] jurialmunkey commented on #15
Works well but see my suggestion here: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/pull/39#issuecomment-569451648

Not sure if my suggestion will work for widgets or not. If it doesn't, then I'll go with your approach.

I've been thinking of splitting the plugin up into modules to give a bit more fine grained control i.e. plugin browser / service monitor / context menu

Thanks!

[2019-12-28 21:40] jurialmunkey commented on #40
Please don't use a personal API key for TMDb. It is completely unnecessary and the option only exists for the sake of future-proofing.

[2019-12-28 21:50] jurialmunkey commented on #40
The 404 is because your query title has the year in the title e.g. `Lost in Space (2018)` and there is no such tvshow called `Lost in Space (2018)`. The tvshow is called `Lost in Space`.

You need to pass `&query=Lost in Space&year=2018` to find this show correctly.

Either the skin you are using is passing `ListItem.Label` instead of `ListItem.TvShowTitle` to the query param, or the addon you are

[2019-12-28 22:36] jurialmunkey commented on #38
Can you test latest commit? I've added a new section under Tvshows called "Your Next Episodes" which links directly to the episodes.

[2019-12-28 23:12] jurialmunkey commented on #40
Looking at the TVDb api, it seems that they add the year to the title if there was a previous series with the same title. Really annoying that they do that - further confirms my decision not to use TVDb.

[2019-12-28 23:22] drinfernoo commented on #40
@jurialmunkey Yes, this helps with shows that have since been remade, like [Cosmos](https://thetvdb.com/series/cosmos) and [Cosmos (2014)](https://thetvdb.com/series/cosmos-a-spacetime-odyssey), for example.

[2019-12-28 23:28] SoulTV commented on #38
@jurialmunkey please don't remove the next up tv shows widget tho

[2019-12-28 23:40] SoulTV opened #41 "Clear Logo"
Would it be possible to use TMDB for all of the artwork and have TMDB Helper default to Fanart for items that TMDB doesn't provide like clear logo? Instead of like the all or nothing approach

[2019-12-28 23:52] jurialmunkey commented on #40
@drinfernoo - It's not necessary to add the year to the title though. There is a specific field for year which should be used. Further, the whole reason why we have `Label` *and* `Title` is to allow a modified label whilst keeping `Title` clean.

For instance, in Episode 1 ("Impact") of new Lost in Space, the infolabels should be:
`Label` = `1x01 - Impact` or `Impact` (addon's choice)
`Title` = `I

[2019-12-29 00:03] jurialmunkey commented on #40
Whilst both TVDb and TMDb show the the year with the title on the website to distinguish between reboots and originals, the important difference is that TMDb correctly splits these into separate fields when returning a request from the API and TVDb does not.

It would be fine if TVDb added the year to *all* titles because then we could split the string with confidence. The issue is that it is only

[2019-12-29 00:04] jurialmunkey commented on #40
Either way, I'm now scrubbing all details in parentheses from query strings because of this shit approach of adding the Year to the Title field. We just have to hope that there aren't any legitimate titles with parentheses in their name now...

[2019-12-29 00:06] jurialmunkey commented on #40
@stuoningur - Can you test latest and confirm that the query string scrubbing is working correctly for you and you are now getting results for these.

[2019-12-29 00:15] jurialmunkey commented on #38
@SoulTV - Never! I use that one all the time 😉 This episode one is in addition to the TvShows one.

I find the Tvshows one more useful personally because it allows you to skip ahead to a later episode, which is particularly useful if I watch an episode at a mate's place and haven't yet updated my Trakt history to reflect that.

[2019-12-29 00:18] jurialmunkey commented on #41
That's the current approach. I always preference TMDb artwork over FanartTV as seen in the code:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/listitem.py#L83-L88

[2019-12-29 00:18] #41 closed

[2019-12-29 00:51] djdirty60 opened #42 "Add player seren and gaia Will not working"
good day

I tried everything to make a seren player and gaia player, but it doesn't work. can someone help me or create 2 files that work?

thank you in advance

[2019-12-29 01:10] 7E1EVEN commented on #38
Thank you very much.

But I’m not able to check it out right now. I’m away from home. But as soon as I get back I’ll let you know.

[2019-12-29 01:29] #42 closed

[2019-12-29 01:29] jurialmunkey commented on #42
Ask elsewhere for piracy addons please.

[2019-12-29 01:31] jurialmunkey commented on #38
I'm pretty sure it is working correctly from my tests but confirmation when you get the chance would be good!

[2019-12-29 02:03] SoulTV commented on #41
Ah, ok. Thxx

[2019-12-29 07:18] stuoningur commented on #40
Tested and confirmed it working.

Also if it helps as additional info, I am using auramod as a skin.

[2019-12-29 07:43] #40 closed

[2019-12-29 19:14] 7E1EVEN commented on #38
Awesome, I can locate it. I can also set it up as a widget but when I try to play a show, either local or stream, I get this error:

                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
                                            Error Type: <type 'exceptions.UnboundLocalError'>
                                            Error Contents: local variable 'is_l

[2019-12-29 22:46] jurialmunkey commented on #38
@7E1EVEN - Okay, I think this issue should be fixed now. Can you test and confirm?

What shows don't have episode names? And what season / episode?
It most likely means that TMDb doesn't have details for those episodes yet but I'll look into it to make sure.

[2019-12-30 00:02] 7E1EVEN commented on #38
It doesn’t do anything now. It just loses focus then comes back. No logs either.

The shows in question are:
My Hero Academia - S04E11 - Lemillion
Black-ish - S06E08 - O, Mother Where Art Thou?

[2019-12-30 02:11] jurialmunkey commented on #38
@7E1EVEN - Hmmm, strange. It's working for me.

Can you download latest version and turn on the addon's debug logging by going to `Video Addons > TMDbHelper > Info > Settings > Expert > Debug Logging (Enable) > OK`

Then try to play an item from nextepisodes list and post full debug log here using a log paste website like pastebin: https://pastebin.com/

I don't care if you have banned add-ons as

[2019-12-30 11:01] 7E1EVEN commented on #38
After rebooting I can play files using Seren as a default player. But local files are skipped.
This doesn't happen with movies.

[Here is the debug log](https://pastebin.com/CsS6NCzX)

[2019-12-30 11:42] jurialmunkey commented on #38
What item is local that you are trying to play in that log? I only see you playing files with an external addon.

[2019-12-30 11:52] 7E1EVEN commented on #38
Yeah, exactly it doesn't even try to search locally first. It goes straight to external whereas with movies it works exactly as intented.

I have the first item in my library (My Hero Academia).

[2019-12-30 15:47] SerpentDrago commented on #15
Looks good ! thanks . This can prob be closed now

[2019-12-30 21:35] jurialmunkey commented on #38
The plugin *always* searches locally first. It only goes to an external player if it can't find a match in the local library. Most likely the TV Show Title returned by TMDb doesn't match the TV Show Title in your library.

As this wasn't the original reported issue, I wasn't logging any of the Kodi DB checks. I've now added some additional debugging for the local lookups.

Can you install new vers

[2019-12-30 21:37] jurialmunkey commented on #15
I've still got the original issue of hiding the options when Trakt hasn't been authorised though... 😉

[2019-12-30 23:55] 7E1EVEN commented on #38
[Debug log](https://pastebin.com/bQnBi7vN)

I don't know if it matters but Trakt is having issues now, so streaming isn't working right at the moment.
It failed to play an item.

It's listed as ''My Hero Academia'', the english version.

[2019-12-31 04:03] jurialmunkey commented on #38
I think you forgot to turn on the TMDbHelper's debug logging for that one...

I have noticed that Trakt is having some 502 connection errors at the moment. It shouldn't matter for playing local files though, as I use TMDb info to match with DBID.

For external players, Trakt supplies: `{trakt} {imdb} {tvdb} {slug} {epid} {epimdb} {eptmdb} {eptrakt}`. So if the Trakt look-up failed, then those info

[2019-12-31 04:33] 7E1EVEN commented on #38
You're right. I goofed. Here is the [new log](https://pastebin.com/MaiwNX2H)

[2019-12-31 05:35] jurialmunkey commented on #38
Thanks!

Looking at the log, the title "My Hero Academia" is being found in the local library but it fails to match. The only thing that makes sense is that there is mismatch between the year in the library and what TMDb reports.

Can you download latest version and enable fuzzy matching for tvshows in the addon settings:
`Video Addons > TMDb Helper > Info > Settings > Players > Allow fuzzy matche

[2019-12-31 05:54] 7E1EVEN commented on #38
It worked! Thanks a lot!

You really went the extra mile. Your hard work is appreciated.

Could you point me to the direction where I can donate? I don’t have much but you really deserve it.

Again, thanks a lot and I hope you have a happy and safe new year!

[2019-12-31 06:07] jurialmunkey commented on #38
Excellent! Glad we got there in the end! 😁

Paypal: http://www.paypal.me/jurialmunkey

[2019-12-31 06:07] #38 closed

[2019-12-31 09:54] drinfernoo commented on #38
I'll get this one up on the repo tomorrow 👍

[2020-01-01 02:23] drinfernoo commented on #34
@jurialmunkey, would you possibly have an idea of how that widget property could be used in the instance that the container ID isn't static? I'm working on that shortcuts add-on, and an "intended" side effect is that widgets could have random content... meaning there would be no way to no which container had that particular widget.

[2020-01-01 04:01] jurialmunkey commented on #34
The container ID will always be static because it is defined from the skin side. Plugins can't modify the container ID.

I assume your plugin will work like so:

1.  User enters your plugin settings and sets up a "random" widget through an interface similar to skinshortcuts where they can select multiple plugin paths.
2. The user then opens skin shortcuts and selects the "random" widget from your

[2020-01-01 04:10] Demonseeed commented on #34
While we are back on this request, I do have a question unrelated to drinfernoo’s.

I have been looking at adding these as default widgets to your AZ2 skin, and then appending `$INFO[Container(ID).ListItem.Property(widget)]` to the label with the Container ID already there so nobody will have to reference this request and then figure out the container ID.

Is that whole finding the container ID au

[2020-01-01 04:16] drinfernoo commented on #34
So the "steps" you outlined are pretty much exactly what I'm doing. I'm launching the Skin Shortcuts management dialog, in order to manage a "submenu" group, using code like:

```RunScript(script.skinshortcuts,type=manage&group=autowidget-$INFO[Window.Property(dialog.group)])```

Where `dialog.group` is a property I'm setting. In this dialog, a label and widget path are set. I'm interested in lett

[2020-01-01 04:38] jurialmunkey commented on #34
Not that I can think of...

[2020-01-01 04:41] drinfernoo commented on #34
FWIW, you can check out the latest build at: https://github.com/drinfernoo/plugin.program.autowidget/blob/devrepo/zips/plugin.program.autowidget/plugin.program.autowidget-0.0.57.zip

I've just made the repo public, but be aware this is *super* alpha, and isn't working perfectly yet. I would certainly appreciate any feedback you've got, though!

[2020-01-01 05:08] jurialmunkey commented on #34
@drinfernoo - Ah, I understand what you are saying about container ID now. Hmm, I'll have to have a think about how it might be possible. I'll give your plugin a proper spin when I'm slightly less hungover...

[2020-01-01 05:15] drinfernoo commented on #34
Absolutely! Happy New Year!

[2020-01-01 05:29] Demonseeed commented on #34
@drinfernoo do you mind if I check it out too? I probably can’t be much help other than bug reporting but I’d love to nonetheless.

Happy New Year both of you!

[2020-01-01 05:55] drinfernoo commented on #34
@Demonseeed Absolutely! Hopefully over the next few days/weeks I'll get an actual announcement and release out, along with a repo to serve updates 👍

[2020-01-03 21:34] Demonseeed opened #43 "[Request] Genres"
Hello jurialmonkey!

I just wanted to throw another request your way that I think would be beneficial.

The ability to select multiple genres at once. Possibly a button above Action & Adventure that says Multi Select (or something similar) that pops up a window dialog slowing you select multiple genres. From there, loading movies/shows that meet the genre requirements of all selected.

Thank you!

[2020-01-04 02:55] jurialmunkey commented on #43
For complex calls, use the [Discover](https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Lists-Discover) method. Discover allows you to combine several rules together.

Discover will translate genre names into TMDb IDs but it is better to use the actual ID if you know it.
Here are the genre IDs for [Movies](https://api.themoviedb.org/3/genre/movie/list?api_key=a07324c669cac4d96789

[2020-01-04 03:01] drinfernoo commented on #43
Wow, that is awesome. I love how powerful this add-on is becoming!

[2020-01-04 03:02] jurialmunkey commented on #43
Discover has been there almost from the start. It's just not exposed by the UI so I think most people don't know about it.

[2020-01-04 03:03] jurialmunkey commented on #43
It's super powerful though! I'm thinking of maybe having a folder of pre-built discover lists to showcase it a bit more.

[2020-01-04 03:04] drinfernoo commented on #43
@jurialmunkey Makes sense... I do feel like it's tough to use these paths for normal users, though, as it seems they're more designed with skinners in mind.

[2020-01-04 03:07] jurialmunkey commented on #43
Yeah definitely meant for skinners and so it's not that accessible by normal users. Maybe it might be possible to have a dialog that exposes the parameters a bit like how the filter dialog works in a normal library view - I think I would need to have a custom skinned dialog though, which is something I'm hoping to avoid.

[2020-01-04 03:09] drinfernoo commented on #43
You're the king of skins! I'm sure you could handle a dialog 😁

Maybe something in your Skin Shortcuts dialog like "Add Parameter", or similar, that would let the user type, and then append it to the end of the shortcut?

[2020-01-04 06:26] jurialmunkey commented on #43
It's more that I don't want to add additional dialogs that other skinners need to deal with in their own skins. One of the big pain points of addons like extended info, global search, next aired, and up next is that they all add multiple additional dialogs that need to be skinned.

I want to keep implementation as simple as possible. That's why I spent a lot of time figuring out a way to provide a

[2020-01-04 17:50] Demonseeed commented on #43
Thank you for the information. 🙏 I saw the Discover List, I just wasn’t 100% sure how I’d implement it yet, this is a good example.

As for the exclusion parameter `&amp;exclude_key=KEY&amp;exclude_value=VALUE` what are the keys? Are these things like people, crew, cast, etc?

For example: if I wanted to exclude movies by Ryan Gosling, I would do:
`&amp;exclude_key=crew&amp;exclude_value=Ryan Gosl

[2020-01-04 20:30] jurialmunkey commented on #43
Exclusions/filters will work for any TMDb list. They are the key/value pairs that are returned by the API end point.

If you look at the Responses Schema for an end-point, you can see what key/value pairs are returned. For instance, here is the discover end-point: https://developers.themoviedb.org/3/discover/movie-discover

Discover is pretty limited in info it returns: `poster_path` `adult` `over

[2020-01-04 22:11] Demonseeed commented on #43
Good to know, thanks again!

[2020-01-05 03:18] jurialmunkey commented on #43
@Demonseeed @drinfernoo - Please test latest version (2.2.5). I've added a new "Discover" folder in the addon which will allow you to customise the discover call.

It should work fine with skinshortcuts / as a widget, also. It translates whatever parameters you set into a discover url, so you should be able to create multiple discover widgets with different settings.

Let me know your thoughts and

[2020-01-05 03:52] Demonseeed commented on #43
Just checked it out. I don’t have the time atm to fully delve into it, but so far this is super cool. It reminds me of the left side bar from Extended Info.

Haven’t ran into any problems with the bit of testing I did, though I will admit it took me longer than it should have to realize the first letter of the genre has to be capitalized 😂

[2020-01-05 04:19] jurialmunkey commented on #43
Yep, it's essentially the same principle as the extended info side bar -- which I'm pretty sure also uses discover endpoint.

Any names that you enter (genres, cast, companies etc.) must match TMDb exactly, including case.

[2020-01-05 04:45] Demonseeed commented on #43
Yeah that’s what I figured once I realized the genre had to be capitalized. This is badass, jurialmonkey!

[2020-01-06 04:01] jurialmunkey commented on #43
@Demonseeed - Please test latest version. I've now added search / select dialogs to the discover method, which means that now you don't need to know IDs or have exact actor names etc. Instead, you can type part of a name and you will get a select dialog to choose the correct item. After selecting an item, you will get the option to add more.

[2020-01-06 04:52] drinfernoo commented on #43
@jurialmunkey That would be great! I quickly tested the previous changes this morning, but found it hard to figure out what I was supposed to be putting 😅

[2020-01-06 05:28] Demonseeed commented on #43
That sounds amazing! I will test it out tomorrow and let you know my thoughts. 👌

[2020-01-07 04:57] Demonseeed commented on #43
I just tested it out, and I gotta say this is pretty cool.

It works completely while doing it within the addon, however, it didn’t work for me as a widget. I am using the current version from github.

When I add it as a widget, it tried to load for a few moments, then pops up the dialog to choose the rules I want to to filter it by. Once I do this again on the home screen, the widget loads.

Here

[2020-01-07 07:16] jurialmunkey commented on #43
Ah yep, you're right. Something gone wrong between updates and it no longer works as a widget. I'm pretty sure I know the issue and will have a fix shortly.

Nice idea on the library node editor type rules. I think it should be possible to implement. I'll have a look.

[2020-01-07 07:59] jurialmunkey commented on #43
Okay that was surprisingly easy to implement.

@Demonseeed - Can you test latest? Add Rule is now in effect and also the widget issue should be fixed.

I'll add some additional functionality to modify/delete rules soon - but the basic functionality is now there.

[2020-01-07 17:46] Demonseeed commented on #43
Wow, that was fast!

Yeah I’d love to test it, will do when I get home from work. 👍

[2020-01-08 04:47] Demonseeed commented on #43
Tested it out, works great! No more weird pop ups from the widget either!

Awesome job, @jurialmunkey!

[2020-01-08 04:59] #43 closed

[2020-01-08 14:43] umonkey13 opened #44 "Player request for dailymotion addon"
Can anyone help with creating a player file for dailymotion add-on from the official repo?

Many thanks

[2020-01-08 17:15] drinfernoo commented on #44
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Player Function

[2020-01-10 00:10] jurialmunkey commented on #44
@umonkey13 - I don't use DailyMotion personally, but the following should work:

[code]

The above will search for movies using `Title (Year)` and episodes using `TvShowTitle S##E##`.

Replace `{name}` with `{title}` in the above to only search using movie/episode title. If you want to search using tvshowtitle use `{showname}`

[2020-01-10 00:10] #44 closed

[2020-01-10 05:16] #24 closed

[2020-01-10 08:28] umonkey13 commented on #44
@jurialmunkey
Thanks for taking the time to do this but its not working just getting a dailymotion error do you need a log?

thanks again.

[2020-01-10 20:45] Demonseeed commented on #43
Hello @jurialmunkey

Still loving this feature, but I was wondering if you could add something to it.

The ability to filter for Networks. Something like `&amp;with_network` would be useful. The reason for this would be the ability to essentially recreate those custom Trakt lists like “Netflix Movies” or “Hulu Movies” without having to rely on another party to have to update - this would update as

[2020-01-10 22:11] jurialmunkey commented on #43
@Demonseeed - with_networks is not available as a query string param in the movie's discover endpoint:
https://developers.themoviedb.org/3/discover/movie-discover

It is only available for tvshows. Also, there is no Networks Search endpoint available in the API, so network IDs need to be inputted manually (the network IDs are different to company IDs).

[2020-01-10 22:19] jurialmunkey commented on #44
@umonkey13

Sorry, typo. Try this:
[code]

[2020-01-10 22:27] Demonseeed commented on #43
Ah, darn that TMDb! Thank you for that link, I’ll make sure to double-check that next time I recommend something like this.

As for inputting the Network ID, is that something that I could do? I have no clue how.

Would it be `&amp;with_id=True`?

[2020-01-11 08:22] jurialmunkey commented on #43
You can only use Networks for TvShows Discover.

There is a rule to add networks in the tvshows section. Just enter the ID into the keyboard that comes up.

[2020-01-11 08:52] Demonseeed commented on #43
Ahhh, I gotcha, thanks for that clarification!

[2020-01-12 14:57] webmaher opened #45 "[Request] Add to library"
Is possible to also create function "Add to Library" from context menu?
Thanks :-)

[2020-01-12 17:45] webmaher opened #46 "[Bug] Add to Trakt Watchlist"
When i want add serie to Trakt watchlist I got this error:

Error Type: <type 'exceptions.TypeError'>
                                            Error Contents: argument of type 'NoneType' is not iterable
                                            Traceback (most recent call last):
                                              File "C:\Users\Jan\AppData\Roaming\Kodi\addons\plugin.video.themovied

[2020-01-13 20:19] jurialmunkey commented on #46
Works fine for me.

Please post full log using https://paste.kodi.tv/ or https://pastebin.com/

I need more details:
What Kodi version?
What TV show are you attempting to add?
Where are you adding the show from? Widget? Info Dialog? Add-on?
What exact steps do you take to add the show?
Have you authorized Trakt?

[2020-01-14 11:18] webmaher commented on #46
i start MDB helper go to TV Shows-Popular
 and try to add The Mandalorian to Trakt watchlist...
 https://pastebin.com/vRgwgeYx

Kodi 18.5 (on w10) with your skin Arctic Zephyr 2 and today version MDB helper
And of course before i made log file I also authorize Trakt...

More important for me is possible to create function "ADD to LIBRARY?
If answer is yes then you can also create function which pl

[2020-01-14 12:06] umonkey13 commented on #44
Many Thanks :)

[2020-01-14 12:34] umonkey13 opened #47 "[Request] Browse Trakt Collection"
I can't seem to find a menu entry for Movie and TV Show collections from trakt is it possible to add these?

Thanks

[2020-01-14 14:12] jurialmunkey commented on #46
Trakt isn't authorised in TMDbHelper or you have something deleting the token / preventing it being set.
[code]

[2020-01-14 14:15] jurialmunkey commented on #47
It shouldn't be too difficult. I'll have a look and see.

[2020-01-15 20:11] webmaher commented on #46
I remove complete Kodi and install again and only your skin and TMDB helper... and same story no matter which movies or series i want to add... I also check settings.xml file and see Trakt token there... I really no idea why this not work.. Do I need VIP Trakt acc?

[2020-01-16 11:18] jurialmunkey commented on #46
No, you don't need a VIP trakt account. A normal account is fine.

Can you try with latest version? It might be an issue with having an empty trakt watchlist. You shouldn't get the error anymore, so you will need to check if the item has actually been added to your watchlist to make sure it is working.

However, I'm pretty sure trakt is not being authorised because Kodi can't read the trakt_token

[2020-01-16 11:59] jurialmunkey commented on #45
I'll look into it.

[2020-01-16 12:01] jurialmunkey opened #48 "[Request] Option to Hide Unaired Episodes"
Add option to hide unaired episodes.
Format label to indicate unaired.

[2020-01-16 13:30] webmaher commented on #46
Thanks, thanks, thanks...fantastic.... you are pure genius... Can you now also add function "ADD to Library"... then you made the best Kodi addon ever :-)

[2020-01-17 10:41] #46 closed

[2020-01-17 21:17] jurialmunkey commented on #48
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/74daa09bdc92b87c4f6d78e6ecf3ec017dcab189

[2020-01-17 21:17] #48 closed

[2020-01-18 02:19] jurialmunkey commented on #45
@webmaher - Please test latest version (v2.2.23).

Context menu now has an "Add to Kodi Library" function which adds `.strm` files to the `userdata/addon_data/plugin.video.themoviedb.helper` folder.

You will need to add the folders as sources to Kodi.
After you add items, you will need to manually update the library.

In future I'll add options to update the library automatically after adding. Ju

[2020-01-18 03:48] jurialmunkey commented on #47
@umonkey13 - Please test latest version (v2.2.24). I've added the option to browse trakt collections. Either enter through `Movies/TvShows > Collection` or `Trakt > Movies/TvShows Collection`

[2020-01-18 15:45] webmaher commented on #45
I update to your last skin and last TMDhelper and nothing to work:
first i made folders as sources (movies and tvshows) ...userdata\addon_data\plugin.video.themoviedb.helper\

Then I go to TVShows-trending this week i try to add a few series and error appear
Then go to Movies and cant open any folders...

Here is log file:
https://pastebin.com/w6DNiU2X
1. error line 402
2. error line 434
3. error

[2020-01-18 16:24] newf276 commented on #45
I tried the add to library function.  It creates both the movie and tvshow folder when you add an item to each.  Then I added both sources to the Kodi library, and manually updated and both movies and jtvshows were added to library successfully.  The issue I get, which is perhaps an API issue for TVDB, is some tvshows when added are not being identified correctly such as Game of Thrones, The Black

[2020-01-18 17:30] webmaher commented on #45
on which OS...W10 or android or....
Do you try then play from library...which player do use...

[2020-01-18 18:21] newf276 commented on #45
I am doing the testing on my MacBook Pro, OSX Mojave, Kodi 18.5. Yes the shows and movies play.  I have noticed that when I add to library, I must be in the second level using browse function, not the initial display of Show, ie.e one more level in where it list the cast etc.  However still have some issues with ID info, some shows not tagging correctly, I still suspect TMDB API Issue.  I have cha

[2020-01-18 20:37] jurialmunkey commented on #45
@webmaher Can you test latest version I just pushed? It should fix errors 4 & 5 (the other errors are minor and shouldn't affect anything).

BTW, the plugin will automatically create the "tvshows" and "movies" folders. Please delete them and let the plugin create them.

[2020-01-18 20:53] jurialmunkey commented on #45
What you're describing is an issue with your library scraper settings, not a TMDbHelper issue.

All TMDbHelper Add to Library does is create a folder on your hard drive with the tvshow name. In that folder it creates a folder for each season and in each season folder it creates .strm files named `S01E01 - Episode Title.strm` for each episode (with relevant season/episode number and title). Inside

[2020-01-18 21:17] webmaher commented on #45
we make progress :-)
... i can add first 3 of 5 movies from folder Trending THis Week
... I can add  all first 5 series from folder Trending THis Week

this 2 movies error:

2020-01-18 21:57:59.200 T:2504   ERROR: XFILE::CDirectory::Create - Error creating C:\Users\Jan\AppData\Roaming\Kodi\userdata\addon_data\plugin.video.themoviedb.helper\movies\Terminator: Dark Fate (2019)
2020-01-18 21:57:59.20

[2020-01-18 22:54] newf276 commented on #45
Jurialmunkey, thanks for the response and clarification. Out of 40 shows I added to the library, only four did not get the folder structure correct. One was Young Sheldon. It stoped at Season one, with only episodes. It did not add the complete folder structure or stem files for the other episodes. Meaning Season2, and Season 3 folders were not added, neither the individual episodes. Two other sho

[2020-01-18 23:51] webmaher commented on #45
@newf276 ... Young Sheldon is really problem..i got all 3 season  but folder Young Sheldon is not created...I got folder Season 1 (22ep.), Season 2 (22.ep) and also Season 3 with 12 ep.
Can you tell me how can create plexkodiconnect player to work.... i try with original from OpenMeta and also with this but no success:

`{
 "name"         : "plexkodiconnect",
 "plugin"       : "plugin.video.plexko

[2020-01-19 00:43] newf276 commented on #45
I have never used plexkodiconnect before, so I am unsure how to write the player json for that one. Sorry wish I could be more helpful.

[2020-01-19 06:15] jurialmunkey commented on #45
@webmaher @newf276 - Okay, the errors with some episodes/movies not being added appear to all be related to characters in titles that are invalid for filenames (e.g. Terminator Dark Fate has `:` and episode 6 of Young Sheldon has a ® in the episode name - so script gets to that then errors and doesn't add the rest).

Please test with latest version. I think all these invalid character errors shoul

[2020-01-19 07:08] newf276 commented on #45
Thanks for the quick fix.  I updated to the newest version, and Young Sheldon works fine.  I tried another one I had an issue with earlier which is the TV Show Dark.  When I add Dark it scans in as "His Dark Materials" I suspect that this must have. weird character also.  However the difference with this one is that in the jtvshows folder it is labelled correctly as Dark, with correct seasons and

[2020-01-19 08:07] jurialmunkey commented on #45
@newf276 - Dark being scraped with wrong info to the library is an issue with whatever scraper you are using and nothing to do with this plugin. Most likely getting picked up incorrectly due to having a short generic name and also being a foreign language. These types of false positives happen with physical files too.

There's not much I can do from my side of things. Like I said, I'm just creatin

[2020-01-19 11:41] webmaher commented on #45
i tested a lot and add to library works very good.., big thanks @jurialmunkey
but i cant play anything with my plexkodiconnect...
When i try to add default players from settings menu i got this

`2020-01-19 12:33:31.804 T:29784   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING T

[2020-01-19 12:56] jurialmunkey commented on #45
That is NOT a valid TMDB player file. TMDB player files are NOT compatible with Meta / Open Meta players. See the wiki about how player files are constructed:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/wiki/Player-Function

[2020-01-19 13:00] jurialmunkey commented on #47
Marking this issue as resolved as I'm pretty sure it is working correctly.

[2020-01-19 13:00] #47 closed

[2020-01-19 15:45] webmaher opened #50 "[Request] Create plexkodiconnect player"
I try to create plexkodiconnect player to play all movies and tvshows
which i added with TMD helper to my library...

plexkodiconnect.json in folder players

[code]

and this is my settings.xml file

[code]

and this is ERROR:

[code]

[2020-01-19 16:26] newf276 commented on #45
Thanks, and completely understand.  Will test as requested.  Appreciate all that you do for everyone, thank you.

Ian

[2020-01-19 18:03] drinfernoo commented on #50
The error suggests you're missing a `,` somewhere.

[2020-01-19 20:23] webmaher commented on #50
i really dont know in which file i can find this error and why:

`   Error Type: <type 'exceptions.ValueError'>
                                            Error Contents: Expecting , delimiter: line 3 column 20 (char 135)`

in file plexikodiconnect.json i think not ...
i look also this but i dont understand much because im not a programmer
https://github.com/jurialmunkey/plugin.video.themoviedb.h

[2020-01-19 21:03] jurialmunkey commented on #50
Copying the Netflix player and just changing the plugin name is not going to work. You need to find out what the path is that the plugin uses for searching and then create steps that are appropriate.

[2020-01-19 21:12] jurialmunkey commented on #50
Also, for future issues, please format your code blocks correctly by using three backticks so that it is readable. One backtick is only used for `inline` code - using it for multiline makes an unreadable mess.

E.g.
\`\`\`
Code goes here
Code goes here
Code goes here
\`\`\`

[code]

[2020-01-19 21:27] webmaher commented on #50
I really dont know how to do that so please help :-(
Here is code from plexkodiconnect.json for OpenMeta which work:

[code]

[2020-01-19 23:34] jurialmunkey commented on #45
Yes please let me know how you go. If this way doesn't work, I have a couple of other approaches which might

[2020-01-20 00:19] newf276 commented on #45
Well brother, so far so good.  I have tried adding many different shows..over 100, and have yet to have any issues.  All problems before have been fine with this tweak. I fully believe that any issues form here in will be a direct result of either TMDB or TVDB and certainly not the plugin or strm folders.  Great job, and very much appreciated. How difficult would it be to have the plugin on instal

[2020-01-20 10:23] jurialmunkey commented on #45
Excellent! Thanks for testing. I'm glad that the .nfo file is helping to find the correct results.

I don't think it is possible to create the directories on install (at least not in a non-hacky way). However, I've added some options in latest release to choose your own path and also an auto-update option.

[2020-01-20 10:48] webmaher commented on #45
to choose own path for series and movies be very welcome....my providers EON android box have only 8GB ROM and even Sony Android TV have only 16GB... so if we have options to have library somewhere in HTPC and using then for all devices be fantastic ... I also have no problem with add to library so @jurialmunkey you made fantastic job and big thanks for all hard work...

[2020-01-20 19:49] newf276 commented on #45
Thanks for the added functionality of Auto Update Library, and the movie/tvshows paths. When adding jtvshows to the library I have encountered zero issues. However not the same for when adding movies. Since the revision you made for autoupdate and adding library paths, I am only able to add one movie successfully at at time. The Movie Folder name is created and as is the strm and info file for the

[2020-01-20 20:04] alKODIque opened #51 ".strm files"
Hi and thank you for this amazing addon.

Is it possible to bring back the function that allow us to play .strm files from the kodi library? A large part of my movies collections are links provided by an online premium account that I own.. I decided to download all my movies there when I realize that Themoviedb helper give me the chance to use my External hard drive for something else.

So, this w

[2020-01-20 21:05] drinfernoo commented on #51
What do you mean by "bring back"? The latest versions on GitHub have it just introduced the feature...

[2020-01-20 22:22] jurialmunkey commented on #51
@drinfernoo I think @alKODIque means the TMDbHelper playing local `.strm` files that are *not* from TMDbHelper. I had to disable playing local .strm files with the player because otherwise I would end up in a recursive loop where TMDbHelper .strm files in the library would try to play themselves.

@alKODIque - Can you test latest version? I've added a check to determine whether or not the .strm is

[2020-01-20 22:25] jurialmunkey commented on #45
@newf276 - Please make sure that you are using the most recent version. I'm pretty sure I already fixed this issue.

If it is still occurring with latest version, a debug log would be useful.

[2020-01-20 22:38] alKODIque commented on #51
@jurialmunkey
Yes, that’s exactly what I meant... Sorry for my poor English by the way.
I will test the latest version tonight and come back to you.
I was thinking about the possibility to add a kind of « kodi library player » if there is no other possibility. Do you think that,s something possible?

[2020-01-20 22:49] alKODIque commented on #51
With the latest update you made, everything is working like before! I can play movies from my kodi library who provides from .strm files :)
Thank’s a LOT!

[2020-01-21 00:07] #51 closed

[2020-01-21 00:08] jurialmunkey commented on #51
Excellent thanks for testing!

[2020-01-21 00:38] newf276 commented on #45
When I posted earlier I was on 2.2.28, so  I installed 2.2.29:  Same issue when adding movies, first is good, second I get error.  Debug log here at: http://paste.kodi.tv/aceluhuhob
You can track from around d line 1400.  Thanks for assisting.

[2020-01-21 01:33] newf276 commented on #45
Just for fun, because I do all testing on my MacBook Pro, prior to adding new stuff to my Libreelec system, I started with a fresh Kodi install. I added, Venom, and Seren, Kodi log uploader, and the TMDB Helper plugin.  Then added the paths to my library, then added two shows and two movies.  Here is the log: http://paste.kodi.tv/parasazige

[2020-01-21 01:38] Demonseeed commented on #45
I went on vacation and came back to this fantastic feature implementation - awesome job, jurialmonkey!

[2020-01-21 07:45] jurialmunkey commented on #45
@newf276 - Ah yep, this error is the same one I thought I had fixed. For some reason Kodi xbmcvfs is reporting that it failed to create the folder even though it created the folder fine.

I'm wondering if there is sometimes a delay between creating the folder and the filesystem reporting it successfully - so I've chucked it in a loop that reattempts a couple of times before failing. Can you test l

[2020-01-21 18:09] newf276 commented on #45
I updated to version 2.2.30, cleaned library and unfortunately no difference. Thanks for continuing to work through this.  Not sure what else can be done.

[2020-01-21 21:35] jurialmunkey commented on #45
@newf276 - Hmm. I can't recreate the issue now but I did experience it previously.

Can you test v.2.2.31 - I've added an option in the TMDbHelper Library Settings to ignore folder creation checking. Please enable that option (i.e. ignore folder creation checks) and test if it is working.

[2020-01-21 23:52] funnypanks commented on #45
Has anyone tried adding “the outsider”, it’s a new show. On my machine it just created the season folder in the tv shows folder. It didn’t create a “the outsider” folder in between the two.

[2020-01-22 00:25] newf276 commented on #45
EUREKA!!!!!!! updated to v.2.2.31 - Works perfects so far for adding both shows and movies.  None of the errors I was getting before. Great work jurialmunkey...I did as you suggested and checked the ignore folder creation and all is good. One minor error I get every time no matter what version you had created, and have at times gotten the same on OpenMeta, and Script.meta by vitor07.  Tha being pl

[2020-01-22 00:32] newf276 commented on #45
I juts tested and added this show, and had no error, folder created where it should be with proper structure, using latest version v2.2.31.
![The Outsider file folder](https://user-images.githubusercontent.com/17891516/72855188-847a5b80-3c6b-11ea-8358-81967937d9c3.jpg)

[2020-01-22 01:41] funnypanks commented on #45
Tried again with v31, works great! Thanks jurial!

[2020-01-22 02:40] newf276 commented on #45
Well, we solve one issue, to find another library issue. So I decided to trying adding some of my trakt movie and tvshows to my library from the trakt section of the plugin and it creates the folder correctly and movie info file correctly, however it does not play the file. Because it does not put the same info in the file as it does when adding from TMDB itself vice trakt. I have pasted in a pict

[2020-01-22 02:54] jurialmunkey commented on #45
Ah, yep - that's a bug with my trakt collection paths not creating the correct folderpath url (you will notice that the onclick action when browsing trakt collection in TMDbHelper doesn't work properly either). Should be fixed in latest. Can you test and confirm?

[2020-01-22 04:36] newf276 commented on #45
Yup, tried with latest V2.2.32 and it works correctly now.  Plays fine, and strm file provides correct info.  Another small issue. When I select an item in the library, and then manage and remove it, after confirming to remove, then confirming to delete, it removes from library, but only deletes the strm file, not the movie.info file or the actual movie folder.  This is does not happen for jtvshow

[2020-01-22 05:02] newf276 commented on #45
Another issue my friend.  Sorry for creating all this headache for you. I was utilizing the trakt portion of the Addon, and added some more movies to my trakt collection.  They add and remove successfully. However for TVshows, they do not add and the ones I tried to remove from my collection did not remove. Here is debug: http://paste.kodi.tv/qesinaqihu

Thanks again...

[2020-01-22 06:15] jurialmunkey commented on #45
That's not something I can control. Kodi issue - kodi controls the library management

[2020-01-22 06:16] jurialmunkey commented on #45
Can you open a separate issue for this one so it's easier to track. I'll have a look later when I'm back home.

[2020-01-22 16:17] newf276 opened #52 "[Bug] Playlist can't find next item to play"
When utilizing the Trakt portion of the TMDB Helper, adding Movies to my Trakt collection is successful, it correctly adds and remove successfully and updates the Kodi Library as it should. However for TVshows, they do not add to my Trakt Collection, and they are not added to the Kodi Library like it does when adding Movies to collection in Trakt. TVShows that are already in my collection and are

[2020-01-22 17:10] SerpentDrago commented on #45
I could be wrong , but i think the Trakt Addon for kodi could solve this , i think i remember it having the ability to remove stuff from library that is removed on trakt .. warning though  It could screw up your library so make backups before messing around !

[2020-01-22 17:48] newf276 commented on #45
SerpentDrago, you are correct, I tried that, and yes it does screw things up, although not consistently.  Thankfully I test on my MacBook, before implementing on my main Libreelec system. Appreciate your advice, cheers brother.

[2020-01-22 21:28] jurialmunkey commented on #52
@newf276 - I think this bug should be fixed now. Can you test 2.2.33?

[2020-01-22 22:13] newf276 commented on #52
Fixed, recommend closing. Thanks for the quick fix on this. Curious, is there a reason I always get Playlist error: can't find next item to play. I do not get this in openmeta etc.. I am not using an external player, so I should not need player core.xm file?

[2020-01-23 06:04] jurialmunkey commented on #52
Is this error when you click something in the library? What steps to reproduce?

[2020-01-23 06:20] newf276 commented on #52
This error is when I select from the Kodi library, no matter what I select meaning a show or movie.  In the top right corner I get the Playlist can't find next item to play, but the item I selected always triggers the player dialogue, and I select one of the default TMDB Helper players and it plays.Just I get this error notification regardless. Perhaps it is because t=when adding to the Kodi libra

[2020-01-23 08:16] jurialmunkey commented on #52
@newf276 - Can you test latest? I'm pretty sure I've fixed the playlist error.

[2020-01-23 09:40] #45 closed

[2020-01-23 11:09] webmaher commented on #52
I can confirm no more error, well done maestro :-)

[2020-01-23 11:42] webmaher commented on #50
I put this in c:\Users\Jan\AppData\Roaming\Kodi\addons\plugin.video.themoviedb.helper\resources\players\ and delete Netflix and Youtube players....

Go to my movies or series library and start to play ...pop up window appear with two options:
1) - Play with PlexKodiConnect
2) - Search PlexKodiConnect

 enter option 1 nothing happen and
 pop up window appear again but now only with option 2

 I ent

[2020-01-23 20:06] newf276 commented on #52
Just tested with with lates, and you are correct, the playlist error is fixed.  Thank you very much for the superb effort on this exceptional Addon, it is such an amazing plugin, and will become a favourite by everyone I am certain. 🥇

[2020-01-23 21:09] newf276 opened #53 "[Bug] Add to library ignores unaired episodes setting"
While I have the setting checked to hide unaired movies and episodes in the Addon, for some reason unaired episodes are still being added to the Kodi library.  When I look at my trakt tv show collection via the Addon under trakt menu, they are not visible. Not sure if this setting is to only hide unaired episodes/movies in the Addon? I assume it is.

I would recommend that when a show is added to

[2020-01-24 02:54] jurialmunkey commented on #53
Since the scraper populates library info, I can't control the colour of the label.

However, it definitely should be respecting the setting to hide unaired and not adding those to the library IMO. I think I know what the cause might be - I'll have a look later when I'm back home from work.

[2020-01-24 02:55] newf276 commented on #53
Understood, thanks.

[2020-01-24 15:48] tjamieg opened #54 "[Error] _strptime import locked by another addon"
Keep getting the following error(s) when homescreen widgets point to different lists in this add-on:

[code]

[2020-01-24 16:12] drinfernoo commented on #54
Sounds like a circular dependency error... but seems weird it would pop up there?

[2020-01-24 17:09] tjamieg commented on #54
Maybe related? [https://bugs.python.org/issue7980](url)

[2020-01-24 17:37] tjamieg opened #55 "[Log Spam] Trying to load setting definitions from old format..."
[code]

[2020-01-24 21:32] jurialmunkey commented on #54
Full debug log please.

[2020-01-24 22:25] jurialmunkey commented on #54
@tjamieg - It's a known python 2.7 bug caused by threaded scripts that don't import modules upfront. I always import modules upfront and I don't use threading, so this bug is almost certainly caused by some other add-on on your system with bad import practices.

There is a known workaround, however, which I've implemented in the latest version. Please test and confirm that it is working for you (I

[2020-01-24 22:30] jurialmunkey commented on #55
Kodi Version?
OS?
Platform?

I don't get these errors on 18.5 on Windows or LibreELEC.

[2020-01-24 22:49] jurialmunkey commented on #55
@tjamieg can you test latest version (v2.2.36)? This issue is a known kodi bug that will be fixed in Matrix - but I'm hoping that this change I've made might reduce the log spam a bit.

[2020-01-24 23:25] jurialmunkey commented on #53
@newf276 - I can't recreate this issue. I just added the show "Picard" which has a lot of upcoming episodes listed and only the first episode was added when I had the setting enabled (and with the setting disabled I got the whole season of upcoming episodes).

Are you sure you have the setting enabled? (A common mistake is people don't click OK to save their addon settings and just press back inst

[2020-01-24 23:34] tjamieg commented on #54
Right, I think I've narrowed the problem down to the following setting:
Accounts / API Keys > Get watched indicators from Trakt

Here's a debug: [kodi.log](https://github.com/jurialmunkey/plugin.video.themoviedb.helper/files/4111206/kodi.log)

[2020-01-24 23:42] tjamieg commented on #55
**Kodi Version:** 18.5
**OS:** Android (ARMV7A)
**Device:** Amazon Fire TV Stick 4K

Understood, will test latest version and get back to you.

[2020-01-25 00:00] drinfernoo commented on #55
@jurialmunkey, for more information, what is the "old" format, and how can we make sure we're using compatible formats for settings in the future?

[2020-01-25 00:26] tjamieg commented on #55
@drinfernoo I was wondering if it could have been referring to Python 2.7 and 3.0.

@jurialmunkey nixgates came across the same thing [here](https://github.com/nixgates/plugin.video.seren/issues/69) and there was also [this](https://github.com/xbmc/xbmc/issues/15252) on the XBMC github.

[2020-01-25 00:37] jurialmunkey commented on #55
In Matrix, the format of Addon settings.xml has been changed to match Kodi's inbuilt setting format. The change allows for having settings "levels" (e.g. Basic, Advanced, Expert) just like Kodi settings (e.g. Interface settings etc.).

In Leia, there was an attempt to transition to this new format but it brought some issues that weren't discovered until after it was implemented and a fix wasn't ab

[2020-01-25 00:39] tjamieg commented on #55
@jurialmunkey I just tested the latest version (v2.2.36) and the log is still very spammy.

[2020-01-25 00:44] jurialmunkey commented on #55
Yeah, it was a bit of a long shot. I'll have a read around and see if I can find anything else out.

Can you get me your settings.xml from `userdata/addon_data/plugin.video.themoviedb.helper/settings.xml` ? Before posting be sure to remove your OMDb and Fanarttv keys from the file.

[2020-01-25 00:45] drinfernoo commented on #55
@jurialmunkey I see! I'd never stumbled on that page, but always assumed it had to do with the change from `[sg]etSetting(...)` to `[sg]et[Type]Setting(...)`?

What happens in Leia if we start using that format?

[2020-01-25 00:48] jurialmunkey commented on #54
That's only because the Trakt look-up uses the strptime function of the datetime module. Some other addon on your system is blocking the import.

Can you try disabling plugin.program.openwizard and restart?

[2020-01-25 00:54] drinfernoo commented on #54
@jurialmunkey There shouldn't be any reason why OpenWizard is causing issues with this, but if there is, let me know and I'll get a fix out!

[2020-01-25 00:55] jurialmunkey commented on #55
@drinfernoo - I'm not sure, I've never tried the new format but it's not recommended if the addon is meant to be compatible for both Leia and Matrix. The issue is that other bugs have been introduced as a result of the code for the new format.

[2020-01-25 00:59] jurialmunkey commented on #54
It's the only addon I can see in the log which I don't have installed that uses datetime and runs as a thread. The issue wouldn't necessarily be your code (it's a much deeper known bug in python 2) - I'm just trying to narrow down what the conflicting add-on is so that I can reproduce and find the cause.

[2020-01-25 01:13] drinfernoo commented on #55
Also @jurialmunkey, how the heck you do it, I dunno, but almost every single time I push to the repo, you make more updates within the hour 😅

[2020-01-25 01:23] tjamieg commented on #55
Here you go:
[settings.xml](https://paste.ubuntu.com/p/VSRWDHXB7n/)

[2020-01-25 01:25] jurialmunkey commented on #54
Scrap that actually. I've just managed to reproduce without openwizard, so that's not it.

[2020-01-25 01:27] drinfernoo commented on #54
@jurialmunkey I didn't think so, but glad you were able to rule it out 👍

[2020-01-25 01:39] jurialmunkey commented on #54
@tjamieg - Can you test newest version. Hopefully this should fix the error. At the very least it will suppress the Exception traceback so that it doesn't exit the plugin.

Check the log to see if you still get an error like this:
[code]

[2020-01-25 01:45] jurialmunkey commented on #55
Thanks. I'm a bit stumped though, as there doesn't look to be anything wrong here. Same format as on my systems but I don't get this log spam. I wish I had an Android device to test as it seems limited to that platform.

I'll ask around the Kodi team to see if anyone else has any insight and I'll get back to you.

[2020-01-25 02:13] tjamieg commented on #54
@jurialmunkey I can confirm that I no longer get the _strptime import error in version 2.2.37.

[2020-01-25 02:26] jurialmunkey commented on #54
Excellent! Thanks for the bug report and testing! 😁

[2020-01-25 02:26] #54 closed

[2020-01-25 02:29] jurialmunkey commented on #53
Also can you test with latest version as it may have been related to this bug https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/54 which is now fixed.

[2020-01-25 02:31] newf276 commented on #53
Yes 100% certain it is and has always been enabled.  That being said, I deleted the library today after discussing this issues with some folks on Reddit yesterday. apparently Trakt had bene causing many errors yesterday to almost every video Addon, so I suspect it was a trakt issue, as it is no longer occurring after redoing a test library.  Sorry for creating work for you when it was not required

[2020-01-25 02:31] #53 closed

[2020-01-25 02:58] jurialmunkey commented on #53
Not a problem! Thanks for testing.

[2020-01-25 03:13] tjamieg opened #56 "[Request] Setting to control how many items are shown in each list"
At the moment, every list has a different number of items per page.

For example, a few I have noticed are:
- Movies > Based on Recently Watched = **20** items
- Movies > Trending Today = **20** items
- Movies > Liked Lists > Latest Releases = **9** items
- Movies > Watchlist = **10** items
- Movies > Your Recently Watched = **10** items
- Movies > Recommended For You = **10** items

Could this be

[2020-01-25 04:58] jurialmunkey commented on #56
TMDb API limits all lists to be paginated at 20 items and the limit cannot be changed.
Trakt pagination defaults to 10 items. It is possible to change the limit for some Trakt lists but not all.

However, Trakt API doesn't supply artwork, so an additional individual request has to be made to TMDb for every item in the list. TMDb API has a 4 requests per second limit, so that's already 2.5 seconds

[2020-01-25 06:02] jurialmunkey commented on #56
@tjamieg - Please test latest version. I've added an option in settings to extend trakt lists to 20 items to make them consistent with TMDb lists. Please note that this option will extend the loading times of some trakt lists quite considerably.

`TMDbHelper Settings > Accounts / API Keys > Trakt > Expand Trakt list limit to 20 items`
(you might need to scroll down to see the option)

Let me know

[2020-01-25 13:01] tjamieg commented on #56
@jurialmunkey amazing work!

After enabling the "Expand Trakt list limit to 20 items" option, every trakt list now shows (or tries to show) 20 items, which makes them consistent with the TMDb lists.

The "Latest Releases" Trakt list by Gilad & Alex now shows 19/20 items instead of 9/10, which I put down to a duplicate movie on TMDb (titled Heritage) not showing in the list. So more of an issue wit

[2020-01-25 21:56] jurialmunkey commented on #56
If there is a duplicate item the plugin won't add it, so that would be why.

It's always possible to reduce the number of items shown from the skin side of things. Having 20 items in TMDb lists gives skinners much more flexibility - particularly as many of the TMDb lists are only used in skin scenarios (e.g. Recommended, Similar, Cast, Movies from a Genre / Studio / Director etc.).

[2020-01-25 21:57] #56 closed

[2020-01-25 22:01] jurialmunkey commented on #55
@tjamieg - Can you try closing Kodi, delete the settings.xml file, restart Kodi, then reauthorise Trakt and see if you still get the log spam.

The log spam is apparently due to storing a setting which is not available in settings dialog. I've added a hidden setting for trakt_token to the settings dialog which I'm hoping will stop the errors.

If this doesn't help, then it's unlikely there is anyt

[2020-01-25 23:43] drinfernoo commented on #55
@jurialmunkey That causes the "creating definition on the fly" message, but the one about the old format 🙃

[2020-01-25 23:57] jurialmunkey commented on #55
@drinfernoo - Are you getting this log spam too? Can you test latest version and see if that fixes it?  I wonder if making the setting visible will help...

[2020-01-26 01:24] tjamieg commented on #55
@jurialmunkey Hey guys, tried the latest version (2.2.40) and also tried deleting settings.xml and reauth-ing Trakt... but the issue STILL persists.

Also tried it on a build with some other add-ons, and after checking the debug log I realise that this issue is not just native to TMDb Helper; @drinfernoo's OpenWizard has it and so does @nixgates' Seren.

[2020-01-26 01:34] drinfernoo commented on #55
@tjamieg It's because all of those add-ons use the "old" settings format.

[2020-01-26 03:46] jurialmunkey commented on #55
Closing this issue as I don't think there is a solution until Matrix.

[2020-01-26 03:46] #55 closed

[2020-01-26 09:53] henryjfry opened #58 "[Bug?] Missing Artwork"
I have had issues with missing artwork in widgets and general sections in the addon. I had thought it might have been a problem with the best cached version of art being "none" for certain items.
However after reinstalling the addon on the latest update it was definitely using the wrong banners/thumbs within the addon and not loading clearlogos within widgets for art which was already cached.

So

[2020-01-26 11:42] henryjfry opened #59 "WARNING: Invalid media type """
Getting this message in the logs on the newest version.  Can be fixed by making a change to the 'Next Page' item in listitem.py

[code]

[2020-01-26 12:51] jurialmunkey commented on #58
What do you mean by "wrong" banners / thumbs? I haven't had any issues with incorrect artwork being retrieved.

If your cache gets messed up, you can always delete simplecache.db from the simplecache folder of addons_data.

Please don't do this. A project api key is completely unnecessary and negates the whole point of project key in the first place.

You can add a personal fanart tv api to "Fanar

[2020-01-26 12:56] jurialmunkey commented on #59
Fixed in latest.

It needs to be blank because it's not a video.
Solved by doing `self.infolabels.pop('mediatype', None)` instead.

[2020-01-26 12:56] #59 closed

[2020-01-26 13:15] jurialmunkey commented on #58
I did a few tests with home screen widgets and all artwork types are being found correctly for me. Make sure you have the setting enabled to use fanart tv for widgets.

Here are `clearlogo` `banner` `discart` `clearart` `landscape`

![Honeyview_screenshot462](https://user-images.githubusercontent.com/4618719/73135727-bb9ca280-4099-11ea-878e-74d8d63f4ce1.jpg)
![Honeyview_screenshot461](https://user

[2020-01-26 13:16] henryjfry commented on #58
Ok, ill take out my project API key and ill try deleting simplecache.db (but FYI i hadnt had the message since i setup two different api keys).

Yep i definetly do have fanarttv enabled for widgets, its only a TV widget which im using. Someone else on reddit reported no clearlogos on episodes widgets.

By "wrong" banners/thumbs i mean in the addon when i change my view setting so thumbs were visib

[2020-01-26 13:20] jurialmunkey commented on #58
This is a Kodi texture cache issue. It happens when a lot of new textures get loaded. Note that I don't download the images myself - I just point to the url and Kodi will then download them.

I'll have a look at episode widgets as I didn't test them just now.

[2020-01-26 13:33] jurialmunkey commented on #58
TvShows/Seasons are getting artwork fine for me both in widgets and inside the plugin. Episodes are currently not getting any artwork - I'll look at a fix for that tomorrow.

![Honeyview_screenshot466](https://user-images.githubusercontent.com/4618719/73135901-ef78c780-409b-11ea-9ea8-cd4aeeced4c7.jpg)
![Honeyview_screenshot464](https://user-images.githubusercontent.com/4618719/73135902-ef78c780-40

[2020-01-26 14:05] drinfernoo commented on #58
@jurialmunkey FWIW, a "widget" of artwork like those would be neat in AZ2's info dialog 👌

[2020-01-26 14:22] henryjfry opened #60 "[Bug] Episode play from widget = kodi crash"
With the newest version im having issues when I click on an episode in a widget it will reload the player choice dialog over and over again then when it stops and i can choose a player kodi will then crash.

It seems like the service addon is triggering this as I saw something in the logs with debug logging enabled but I cant figure out what is causing the player choice dialog to reload itself.

I

[2020-01-26 15:42] henryjfry commented on #60
Ok so ive figured out how to stop the "Choose Players" window from triggering repeatedly which seems to be the cause of the crash i was experiencing.

In script.py ive made a modification to "def play(self)"

[code]
So if the choose players dialog is visible it wont run the "play" routine again.

[2020-01-26 16:18] SerpentDrago commented on #60
I'm getting the issue to (only though skin info page or widget ) , default player set or not .  crash to desktop of kodi , happens after picking the player .

It does NOT happen if i use tmdb helper directly (not though a skins information screen / widget )

[2020-01-26 16:25] henryjfry commented on #60
Yeah im getting it under the same circumstances.
Ive added some stuff to script.py to see whats going on

[code]
And it loops round over and over again, and it'll crash once it loops over once, im guessing because whatever information makes in into the second instance of the choose players window is now completely invalid.

But i cant figure out how to stop it from triggering play again.

[2020-01-26 17:54] henryjfry commented on #60
Ive reverted to version 2.2.32 which didnt have this problem.

[2020-01-26 21:09] jurialmunkey commented on #60
Debug logs would be useful please... Also a clear step by step to reproduce.

@henryjfry - Are you using latest git version? It is ahead of the repo version by quite a few revisions.

@SerpentDrago - Can you confirm if this is also happening with latest **git** version? Git is v2.2.40, repo is only v2.2.34

[2020-01-26 21:11] jurialmunkey commented on #60
Also if the issue is still happening with v2.2.40 can you comment out this line and see if it still happens: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L595

[2020-01-26 21:16] henryjfry commented on #60
I can get you some debug logs but it will need to be tomorrow.
I had been on 2.2.34 and I had also copied over the files from GitHub so up until updates made today basically. And it seemed to be the same issue.
I can confirm that for you tomorrow when I reinstall the newer version.

I was looking to see what commits could have started that behaviour, could the change to the container (finish conta

[2020-01-26 21:19] henryjfry commented on #60
But to reproduce it all I had to do was try and play an episode from my next up trakt episodes as a widget, wait for choose players to come up, wait till the busy dialog comes up again and the screen flashes as it creates or reloads the choose players dialog then click play with any add-on, Kodi crashes and restarts.

[2020-01-26 21:27] henryjfry commented on #60
By the way, that's exactly the commit I think caused the problem:

https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L595

Or something about it anyway, it like it plays and then it tries to keep playing. And I think it was something to with "next item in playlist", something like that?

[2020-01-26 22:05] jurialmunkey commented on #60
@henryjfry - What platform are you on that's experiencing the crash? Win? Mac? LibreELEC? Android? Linux?

[2020-01-26 22:08] tjamieg opened #61 "[Bug] Episode indicator numbers on some TV show widgets"
Episode indicator numbers are showing on some TV show widgets even when every Trakt API subsetting is turned off, as shown below:

Noticed this on both Windows and Android installations.

Am I right in thinking the indicator is supposed to count "unwatched" episodes too, not watched ones?

![Settings](https://user-images.githubusercontent.com/48328397/73142318-255e8180-4085-11ea-98de-b5366b18aeda.

[2020-01-26 22:23] henryjfry commented on #60
Osmc on a vero4k. So Linux.
I can post full logs for you tomorrow

[2020-01-26 22:25] linelock commented on #60
Hi, I've been having this same issue. my debug Kodi.log is here.
https://pastebin.com/gPSCfHkM
The problem remains with v2.2.40 of tmdb helper.
I'm running kodi 18.5 with auramod skin on ubuntu 19.10

[2020-01-26 22:34] linelock commented on #60
commenting out line 595 of container.py does seem to resolve the issue.

[2020-01-26 23:05] jurialmunkey commented on #60
@linelock - Thanks for testing/log/confirming.
Yes, 595 definitely seems to be the cause. I added it to deal with a bug in `.strm` files, but crashing is a more serious issue! I've commented out that change in v2.2.41 until I find a better solution for `.strm` bug.

At least this way we won't get crashes and the player function will actually work!

[2020-01-26 23:09] jurialmunkey commented on #58
Okay, In latest episodes should now get additional fanarttv artwork types.
These are put in `$INFO[ListItem.Art(tvshow.foobar)]` e.g. `$INFO[ListItem.Art(tvshow.clearart)]`

Note that fanarttv api is currently having connection error issues (err code 500), so only cached items will be working until the API comes back up. (I've also added some checking for these errors because previously it would r

[2020-01-26 23:10] jurialmunkey commented on #61
Yeah, I've noticed this bug.

Do you have merge local db details setting enabled?

[2020-01-26 23:26] tjamieg commented on #61
By that, do you mean "Get additional details from the local Kodi library database"? If so, then no I don't have that enabled. I don't have any local library stuff set up whatsoever... purely just using add-on data.

[2020-01-26 23:45] jurialmunkey commented on #61
@tjamieg - Thanks - just useful info for test cases.

Watched episode counts should be fixed now in v2.2.42 - Please test and confirm.

[2020-01-26 23:52] drinfernoo commented on #60
@jurialmunkey You're referring to the `setResolvedUrl(...)` line?

[2020-01-26 23:55] jurialmunkey commented on #61
How "Your Recently Watched" is meant to work is it looks at last 200 episodes watched in last 6 months and finds 10 tvshows... but it does seem that there is a bug here

[2020-01-27 00:03] drinfernoo commented on #58
@jurialmunkey I just realized, what window *is* that in your screenshots? I'm intrigued by the icons in the top left, and also the "peeking" posters on the left and right margins...

[2020-01-27 00:05] tjamieg commented on #61
I can confirm that the watched indicators and counts seem to be working perfectly in v2.2.42.
You make it look so easy... brilliant work, thank you!

[2020-01-27 00:07] jurialmunkey commented on #61
@tjamieg - Excellent thanks for testing and confirming. I'm fairly certain I've now fixed the "Your Recently Watched" bug too. Can you test again with latest (v.2.2.43) and confirm?

[2020-01-27 00:09] jurialmunkey commented on #58
Hahaha shhhhh... It's a secret 😉
Something new maybe coming soon...

[2020-01-27 00:10] drinfernoo commented on #58
@jurialmunkey Ooh, that's exactly what I was hoping you'd say! 😅 I'll hold for new developments 👍

[2020-01-27 00:40] tjamieg commented on #61
"Your Recently Watched" now shows the correct amount of tv shows.

But the "Based on Your Recently Watched" and "Your In Progress" widgets are now failing to load and bringing up errors...

[code]

Also noticed these in the log but they seemed unrelated:
[code]

[2020-01-27 01:11] jurialmunkey commented on #61
@tjamieg - Okay should be fixed now.

RE: HTTP Error Code: 500 / 504 - fanart.tv API service appears to be down currently, hence the errors.

[2020-01-27 01:41] tjamieg commented on #61
Yep, all good this end. I think this issue can be closed now. Thanks again!

[2020-01-27 03:07] jurialmunkey commented on #61
Excellent! Thanks for the bug report and testing the changes 😁

[2020-01-27 03:07] #61 closed

[2020-01-27 03:10] tjamieg opened #62 "[Bug] TV show exists in TMDb, but can't be found in Helper"
There's one stubborn TV show (and its episodes) that never populates in my widgets, although it does exist in TMDb.

![Homescreen Widget](https://user-images.githubusercontent.com/48328397/73147959-dc70f200-40b1-11ea-813a-c7b4e5368fd4.jpg)
![TV Show](https://user-images.githubusercontent.com/48328397/73147960-dd098880-40b1-11ea-8bd3-70b11e1d3489.jpg)

Don't get me wrong I can live without it, but

[2020-01-27 03:35] tjamieg opened #63 "[Request] Ability to sort and filter lists / widgets"
Would it be possible to change the sorting of lists individually?
- date added, date last watched, random, and so on.

And would it be possible to filter lists? In order to:
- hide/unhide watched items in some widgets but not others
- hide movies that have not yet aired from watchlist

I realise that this may be a lot of work or even a bit of a long shot, but I think these features would be a grea

[2020-01-27 05:13] jurialmunkey commented on #63
In the addon browser it is. I've added a couple of sorting methods (Default, Title, Last Played, Play Count) on latest. The other sorting methods available either don't work correctly (Date was just sorting randomly!) or don't make sense because the details are only available for previously cached items (e.g. sort by MPAA or Duration makes a mess because only some items will have those details).

[2020-01-27 05:13] #63 closed

[2020-01-27 05:17] jurialmunkey commented on #62
What list is this?

Looks like Trakt is not returning a TMDb ID which is why the lookup is failing.

[2020-01-27 05:28] jurialmunkey commented on #52
Re-opening this issue as the Playlist can't find next item bug will be back since I needed to revert those changes.

[2020-01-27 06:21] jurialmunkey commented on #60
Yeah.

I'm not actually resolving a url with the player function because we aren't always resolving (e.g. if we want to search an addon instead or if the addon first needs to load a directory of sources).

Inside the plugin it's fine, but for a strm file Kodi expects a resolved url or it gives a "Playlist can't find next item to play" error. So to suppress that error, I just pass Kodi a blank "res

[2020-01-27 06:22] jurialmunkey commented on #60
@linelock @henryjfry - Can you test latest update and make sure my latest addition hasn't reintroduced the crash issue (it shouldn't do but testers are always useful to confirm).

[2020-01-27 06:32] linelock commented on #60
@jurialmunkey Just checked and playing episodes from a widget is working in v2.2.44
Thanks for this.

[2020-01-27 07:11] ZefXyde commented on #62
Ticket submitted with Trakt. TMDb ID should be added and duplicate show listing should be removed. Should be fixed within 24hrs.

[2020-01-27 07:19] jurialmunkey commented on #62
Thanks! 😁

[2020-01-27 07:20] jurialmunkey commented on #60
Okay Awesome! Thanks for testing.

That'll solve both issues then 😁

[2020-01-27 07:20] #60 closed

[2020-01-27 07:21] jurialmunkey commented on #52
@newf276 - Can you test latest version and confirm that I haven't re-introduced this bug and all is working correctly with `strm` in library? Seems to be working correctly from my end but good to have someone confirm.

[2020-01-27 08:49] brentonv opened #64 "Next page arrow (>) missing on widgets"
In AZ2 skin if I create a TMDBhelper widget it returns 20 items without the next page arrow. I'm not sure about other skins. If I open TMDBhelper as an add-on the lists are displayed correctly. Thankyou

[2020-01-27 09:28] jurialmunkey commented on #64
It's intentional.

However, see latest version (v2.2.45) - There is now an option in settings to enable nextpage item on widgets.

[2020-01-27 09:28] #64 closed

[2020-01-27 11:37] tjamieg commented on #62
@jurialmunkey Sorry, I did try checking for ID's myself before posting the issue here - I saw that the show actually did have TMDb and Trakt ID's but didn't realise the TMDb ID had to be pulled from Trakt.

@ZefXyde Thank you!

[2020-01-27 12:17] brentonv opened #65 "(Request) Option to change number of items per page"
Could you please consider adding an option to change the number of items per page. Default appears set to 20 items. Thankyou

[2020-01-27 15:14] tjamieg commented on #63
My understanding is the same as yours with library content, but for addon content, the skin can only sort the the first page i.e. the first 10/20 items in the list - essentially only sorting the top 10 results of an already sorted list, as opposed to sorting the whole list.

What if there was a sort option within the settings for each list in question, that when changed, appends the relevant sort_

[2020-01-27 15:29] drinfernoo commented on #65
Read this issue, where he explains why he *didn't* do it that way: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/56

[2020-01-27 15:44] brentonv commented on #65
Roger that

[2020-01-27 15:44] #65 closed

[2020-01-27 17:34] newf276 commented on #52
Ack double check and get back to you soon.

[2020-01-27 17:40] newf276 commented on #52
Just tested lates version, error is not present, seems to be working correctly.

[2020-01-27 19:31] henryjfry commented on #58
Ok so ive had a chance to install the new version and I can confirm that it can now play successfully from episodes widgets again, but it is still underserving me artwork.

So ive attached some images two are from the recently watched tv shows in trakt and two are from my next up episodes widget (not sure which is which)

So in the recently watched tv show addon folder it is missing a thumb for th

[2020-01-27 20:35] henryjfry commented on #58
Ok I think i might have an idea why its not working even with your changes, in listitem.py:

`        if self.infolabels.get('mediatype') == 'tvshow' and (self.tvdb_id or tmdb):
            self.tvdb_id = self.tvdb_id or tmdb.get_item_externalid('tv', self.tmdb_id, 'tvdb_id')
            artwork = fanarttv.get_tvshow_allart_lc(self.tvdb_id)`

All this does will get art for tvshows? Hence episodes

[2020-01-27 21:32] jurialmunkey commented on #52
Thanks so much for testing and confirming. So glad that both these bugs are now resolved! 😁

[2020-01-27 21:32] #52 closed

[2020-01-27 21:58] jurialmunkey commented on #58
Witcher and Mandalorian both getting full art for me in Trending TV Shows:

![Honeyview_screenshot467](https://user-images.githubusercontent.com/4618719/73217136-736da500-41ab-11ea-9925-f2685ad6d4a2.jpg)

If only some items in a list are getting artwork and others aren't, then that indicates an issue with fanarttv or the cache. I'll double check my artwork caching code to make sure blanks from err

[2020-01-27 22:03] jurialmunkey commented on #58
Fanart tv only supplies artwork for TVShows. It requires a **tvshow** id to do the lookup. The listitem for an episode/season will have the episode/season ID, not the tvshow id so no point doing a lookup there as you will get the wrong items and your cache will become a mess.

For this reason, I deal with episodes/seasons elsewhere in container.py where I get the details for the tvshow and merge w

[2020-01-28 05:24] ZefXyde commented on #62
@jurialmunkey @tjamieg You're welcome. Ironically, I had literally just done this for 2 other shows prior to this one. 🤣

[2020-01-28 09:08] jurialmunkey commented on #58
@henryjfry - Okay, please test latest version. Fanart tv artwork is now working for episode widgets. Please note that the skin must reference these like `Art(tvshow.clearlogo)` not `Art(clearlogo)` as the artwork is for the tvshow not the episode (this approach is consistent with artwork in the Kodi library db). `Art(poster)` will be the season poster and `Art(tvshow.poster)` will be the standard

[2020-01-28 09:50] jurialmunkey commented on #63
@tjamieg - Ah, I see what you are getting at. Try out the Discover method of the plugin - that will allow you to create a variety of rules, including sorting methods.

You can read about the APIs here:
https://developers.themoviedb.org/3
https://trakt.docs.apiary.io

As you can see [here](https://developers.themoviedb.org/3/movies/get-popular-movies), endpoints such as Popular Movies don't allow s

[2020-01-28 13:55] tjamieg commented on #63
Thank you, I have looked at Trakt's API documentation briefly before, but wasn't sure how to get Apiary's console working so I could test my own queries. Every time I stuck my Trakt API key in I got a "405 response".

Yeah I get you, I kinda realised how silly this sounded as I was typing it! That being said, I think addiing a sort option in this way can still be useful for limited user lists (lik

[2020-01-28 19:23] 7E1EVEN opened #66 "[Request] Add season and episode number to Your Next Episodes titles"
Hey jurialmunkey,

I have a small request and these aren’t deal breakers so take all the time you need but,

Could you add the season and episode number in Your next episodes?
ex: “Show Title - **S01E01** - Episode Title”

Edit:
With the clear logos working it could also be “**S01E01** - Episode Title”.

Also maybe, separate the option to hide unaired movies and tv episodes.

It’s nice to see what

[2020-01-28 19:43] henryjfry commented on #58
Ok i can confirm that the current version in the repo (2.2.46) is now delivering all the artwork it should be, thanks for all your hard work.

[2020-01-28 21:08] #58 closed

[2020-01-28 22:49] #62 closed

[2020-01-28 23:05] jurialmunkey commented on #63
I agree that this type of sorting for lists would be nice to have. The problem is that without Trakt api exposing a sort method, it would need to be done in the plugin itself. To do that I would need to retrieve 100s of items from trakt and then sort them. That would be fine if Trakt supplied artwork links and metadata, but it doesn't. So I need to look-up each item individually. That means I need

[2020-01-28 23:30] jurialmunkey commented on #63
@tjamieg - Okay, please test latest version. You can now choose watchlist sorting method in the plugin settings under Accounts. Available options are `rank` `title` `released` `added`

[2020-01-29 02:26] tjamieg commented on #63
Watchlist sorting tested and working brilliantly!

Thinking about a way around doing it for user lists, I found this in the Trakt API docs:

![Apiary - Trakt User List Items](https://user-images.githubusercontent.com/48328397/73321705-423cb580-423b-11ea-85ec-5a5e1974118b.jpg)

Now it'll probably make a lot more sense to you than it does to me, but from what I can gather you'd need a way to set the

[2020-01-29 02:41] drinfernoo commented on #63
@tjamieg Unfortunately, what you're referring to are actually parameters that are *sent back" from Trakt, and indicate how the list is sorted on the website. You can't send them as headers in order to get the lists sorted to your liking 😥

[2020-01-29 03:12] jurialmunkey commented on #63
Yep, what @drinfernoo said unfortunately... 😞

[2020-01-29 17:01] drinfernoo commented on #63
Can you not add sort methods via `xbmcplugin` and have them work?

[2020-01-29 18:28] SerpentDrago opened #67 "More clearly label project/dev keys in expert"
Had a few ... users .. enter personal keys into  expert > tmdb / fanart  api key locations .

I know users will always be kinda dumb . but mybee it can be more clearly labeled that those blanks are only for dev / project keys and NOT personal keys .

I get it already says "only use if default api key is deactivate. "

but mybee the error message that is then displayed "invalid key" could be more d

[2020-01-29 20:37] jurialmunkey commented on #67
Yeah im tempted to just remove that section altogether... Children can't help but get their sticky hands all over it even though they've been told not to touch it.

[2020-01-29 20:41] SerpentDrago commented on #67
I'm not opposed to that at all lol

[2020-01-29 21:11] jurialmunkey commented on #67
Done!

[2020-01-29 21:11] #67 closed

[2020-01-29 21:14] jurialmunkey commented on #66
Hmmm. I'm on the fence about this one. Not sure if it should be done in the addon or the skin. Though it's not possible to zero pad numbers in the skin, so maybe doing it in the addon is better.

[2020-01-29 21:17] jurialmunkey commented on #63
Yeah, I already added those. See comment here: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/63#issuecomment-578594481

For some reason, date doesn't work correctly and was sorting randomly. Others aren't great due to the way I only fill detailed info if it's cached (e.g. MPAA or Runtime).

Still, those will only sort the current page - It's sorting for the whole list that

[2020-01-29 21:29] juanma-cvega opened #68 "[Request] Play local files from lists other than My TV Shows and My Movies"
Hi,
Is there anyway to default to try to play a local file when navigating through a list (for instance the Popular TV Shows list)?
In my case, my library comes from video files stored in Plex but made available through PlexKodiConnect. I think files are treated as local files when imported anyway but may be linked to #50 .
Thanks.

[2020-01-29 21:44] juanma-cvega commented on #68
Well, apparently it does do it. It seems a problem with OpenInfo and TV shows though. The Netflix view (that's the only one I tested on) doesn't recognize local files when searching through season's episodes. But it works with films. So nothing to do with your addon.

[2020-01-29 22:08] juanma-cvega commented on #68
I reopened it because I found out it kind of works but I realised, after checking 5 TV seasons, that it doesn't find all episodes. Sometimes it finds the 10 episodes, some times 9 or like with Grey's anatomy it was able to find the first season but after half the second, the rest it falls back to Seren as if there were any more episodes in the library.
Could it be related to the size of the librar

[2020-01-29 22:22] drinfernoo commented on #66
@jurialmunkey You could make it as a setting 😉

[2020-01-29 22:45] jurialmunkey commented on #68
Hard to say without a debug log. Also please turn on debug logging in the TMDbHelper expert settings.

You can also try turning on fuzzy matches in the Player settings. Sometimes the Year in the library doesn't match the Year retrieved from TMDb. Although that would be unusual if some episodes are playing and not others.

It won't have anything to do with library size.

[2020-01-29 22:56] jurialmunkey commented on #66
I think that's worse because then Skinners don't know what to expect from the label and lose control over how things are presented. It needs to be consistent

[2020-01-30 13:49] brentonv opened #69 "[Request] Option to flatten seasons"
Could I please request an option to flatten seasons. Alll add-ons in my setup have this option except TMDB helper. Thankyou

[2020-01-30 15:38] SerpentDrago commented on #67
8083d3c0416f058712ce3958c103a6afd5582a6d

[2020-01-30 17:53] 7E1EVEN commented on #66
Alright, thanks for the reply.
I look forward to see what you come up with.

How about the separation of the unaired movies and episodes?

[2020-01-30 21:13] jurialmunkey opened #70 "[Request] Separate unaired movies / episodes option"
As requested by @7E1EVEN here https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/66#issuecomment-580375621

[2020-01-30 21:14] jurialmunkey commented on #66
@7E1EVEN - Please open separate issue threads for separate requests. I've created one here for separating movies/episodes https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/70

[2020-01-30 21:17] jurialmunkey commented on #70
@7E1EVEN - I've now separated the options. Please test latest and confirm that it is working correctly.

[2020-01-30 21:47] jurialmunkey commented on #66
@7E1EVEN - Please test latest version. I've added season and episode numbers for episodes.

The format is `1x01. Title` for lists that mix seasons (e.g. calendar, up next, your next) and `01. Title` for a season list. This format is consistent with the Kodi library.

[2020-01-30 22:31] jurialmunkey commented on #69
Shouldn't be too difficult to achieve. I'll have a look and let you know once it's implemented.

[2020-01-30 23:45] 7E1EVEN commented on #66
Oh sorry, I’ll keep that in mind.

I can see the season and episode number now.

Thank you.

[2020-01-30 23:45] 7E1EVEN commented on #70
I can confirm, it’s working.

Thanks, JM, you’re the best!

[2020-01-31 02:26] brentonv commented on #69
Thankyou very much. Could you please also try option to disable tv show specials? This would consistent with other add-ons. The main reason is that most of them don't play anyway and usually show on list before season 01 pilot episode. Thankyou

[2020-01-31 02:45] #70 closed

[2020-01-31 02:45] #66 closed

[2020-01-31 06:02] jurialmunkey commented on #69
@brentonv - Please try latest version. There is now an option in settings to flatten seasons.

[2020-01-31 06:33] weebl101 opened #71 "Missing icons in Add-ons section"
Hi @jurialmunkey,

Thanks for all the hard work on the skin, it truely is amazing. Since the latest version 0.9.57-alpha1.2 the icons at the bottom of each plugin i.e. Run, Update, Disable etc do not appear.
![image](https://user-images.githubusercontent.com/7332213/73517481-4b9a6d80-4447-11ea-8a17-ef6f9cdf684d.jpg)

[2020-01-31 06:34] #71 closed

[2020-01-31 06:48] brentonv commented on #69
Thanks mate will check it out when home

[2020-01-31 11:07] juanma-cvega commented on #68
Sorry, I was busy yesterday and I couldn't reply back. I'll try to get the logs this weekend.
I don't think it has nothing to do with the year actually. Files found are always consecutive and the last one found could be in the middle of a season.

[2020-01-31 20:22] newf276 opened #72 "[Request] Library Update"
Not so much an issue perhaps, but maybe a request, depending on your intent of the library update.

If a user wishes to use this without activating TRAKT, how does one go about updating the library to include new episodes for each TV Show that they have added to the library. I realize that if you select the update library setting after adding show, it will add the show with the current aired serie

[2020-01-31 21:58] jurialmunkey commented on #72
Currently you need to update manually. I'll have a look at adding an auto-update option for shows.

[2020-01-31 22:17] newf276 commented on #72
Appreciate the recommendation for now, and look forward to extra option when you have time.

[2020-01-31 22:21] jurialmunkey commented on #72
By "update manually" I mean you need to add the new episodes to the library manually by going into TMDbHelper and re-adding the show to the library.

[2020-01-31 22:42] newf276 commented on #72
Ack, thanks.

[2020-01-31 23:52] vitadome opened #73 "Change Color of Movie or Episode Title"
When searching for a movie or episode, I wanted the ability to change the font color from the other list items on the page.  For example, I want to change the movie title color to gold.  I see that I can change the colors for the other categories in the DETAILED_CATEGORIES section of the constants.py file but I'm not sure where to make the change to the actual Movie Title.  Any guidance is appreci

[2020-01-31 23:52] jurialmunkey commented on #72
@newf276 - Can you test latest version? There is now a setting to auto-update tvshows on startup under the library section of the addon's settings.

[2020-01-31 23:55] jurialmunkey commented on #73
The detailed item is built in the `list_details` function in the `container` class in `container.py` module
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L707

First item in the detailed categories is built here:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L740-L750

[2020-02-01 00:46] newf276 commented on #72
Works perfect, thank you sooooooooooooooooooooo.....much.  This is now fantastic, everyone will love this for sure..

[2020-02-01 00:53] vitadome commented on #73
I appreciate the info.  I'm still a bit confused on where to place my [COLOR gold]test[/COLOR] tags.  Not sure if I'm way off base or not.  Any additional guidance is appreciated.

I'm not a developer but am learning everyday.

[2020-02-01 01:01] drinfernoo commented on #72
I've been a bit behind I've the last few days, but I can get some updates pushed to the repo tomorrow @jurialmunkey 🎉

[2020-02-01 02:26] jurialmunkey commented on #72
Excellent! Let me know if you encounter any issues but I can't see any reason for any problems. I'm just walking the library tv path, grabbing the tmdb_id from the nfo files, and then readding the show.

[2020-02-01 02:26] jurialmunkey commented on #72
Cheers! Whenever, you get the chance - no rush!

[2020-02-01 02:26] #72 closed

[2020-02-01 02:30] jurialmunkey commented on #73
`firstitem.label` is the string containing the label of the item.

[2020-02-01 02:30] #73 closed

[2020-02-01 07:30] brentonv commented on #69
Sorry for the delay I was waiting for update but installed from source and it's working great. I also appreciate the option to hide unaired. Coukd you also hide specials? Is that possible. Thanks heaps mate!

[2020-02-01 11:19] jurialmunkey commented on #69
Specials should already be hidden if you have flatten seasons on.

[2020-02-01 11:50] webmaher commented on #50
@jurialmunkey can you please contact @croneter and ask him when we can see some progress...

[2020-02-01 16:16] brentonv commented on #69
Thanks again

[2020-02-01 21:45] #69 closed

[2020-02-01 21:50] jurialmunkey commented on #50
Why don't you?

I'm not interested in bugging him as this isn't a priority issue for me since I don't use PKC. Croneter hasn't made any updates to PKC in a few months, so clearly he's busy with other things.

[2020-02-02 02:32] brentonv opened #74 "(Request) Tmdb or Trakt; Latest releases"
Would it be possible to include latest releases in either Tmdb or Trakt lists? The closest thing I can find is trending lists. Thankyou

[2020-02-02 02:42] jurialmunkey commented on #74
TheMovieDb > Upcoming Movies
TheMovieDb > In Theatres
TheMovieDb > Airing Today
TheMovieDb > Currently Airing

[2020-02-02 02:42] #74 closed

[2020-02-02 04:51] brentonv commented on #74
I've tried those lists but they aren't as good as the ones used in OpenMeta such as "Latest Releases (Trakt)". Thanks anyway

[2020-02-02 05:52] drinfernoo commented on #74
@brentonv The list he linked at the bottom of his comment *is* the list you're referring to, that is "built in" to OpenMeta. Simply 👍 that list on the website, and it will show up alongside your own and other liked lists inside of TMDb Helper.

[2020-02-02 11:46] brentonv commented on #74
Oh that's great. I've been wondering where this list come from. Thanks
again guys

On Sun., 2 Feb. 2020, 4:52 pm drinfernoo, <notifications@github.com> wrote:

[2020-02-02 11:47] brentonv commented on #74
Oh that's great. I've been wondering where this list come from. Thanks
guys

[2020-02-02 14:52] webmaher commented on #50
He just did it :-)
https://github.com/croneter/PlexKodiConnect/issues/1103

Try PKC BETA version 2.10.9. Your search string would need to look like this:

plugin://plugin.video.plexkodiconnect?mode=search&query=YOUR SEARCH STRING HERE

Can you please make a test player :-)

[2020-02-02 18:53] juanma-cvega commented on #68
I going to close the issue. I'm still not sure what happened but I think it's a mix between the skin not showing data for every episode and the PlexKodiConnect disconnecting. I tested this weekend and the episodes that didn't work the other day now work.

[2020-02-02 18:53] #68 closed

[2020-02-02 21:01] jurialmunkey commented on #50
@webmaher - Can you test the below player with the PKC beta? I have no idea if it will work since I don't use PKC but hopefully it will...

[code]

If the above doesn't work for play, can you get me screenshots of what happens when you use the search function for each of the movies and episodes search. In particular, I'm interested in how tvshows are navigated (e.g. does the search show tvshow nam

[2020-02-03 00:14] webmaher commented on #50
Thanks 4 this beta version :-)

just a few things about my plex

i have over 10 folders ....
For movies now i have 3:

- Movies
- Movies - 4K
- Movies - 4K Remux

I tested a few movies
 and when I got 3 hits with
exactly the same title (is any chance to see also folder name after title name)
first one is from folder  Movies, then Movies - 4K and last from Movies  - 4K Remux

Then i try with Play P

[2020-02-03 03:54] jurialmunkey commented on #50
You would need something in the title of the Movie/Show which indicates what folder it is from. Otherwise, how would TMDbHelper know what folder it is from if all the info it is presented is exactly the same?

For instance, if you have the title of the 4k version of Alien as "Alien (4K)" then you could do:
[code]

Alternatively, if you can recreate the exact path to the file consistently, then you

[2020-02-03 07:26] #50 closed

[2020-02-03 20:42] Demonseeed opened #75 "[Bug] ResolvedURL issue with custom activatewindow"
Hello jurialmonkey!

I haven’t been able to be as active as I wish, but I hope everything has been well.

Anyway, I tried to load a movie The Human Centipede (I know, I know) through TMDb Helper, to which an immediate crash of the system.

Here is a snippet right before the crash in my log:
`WARNING: CreateLoader - unsupported protocol(plugin) in plugin://plugin.video.themoviedb.helper/?info=play&

[2020-02-04 02:19] jurialmunkey commented on #75
Is it only this one movie causing a crash?

Log doesn't indicate much other than this message:
[code]

Which would suggest some type of shutdown signal has been sent from somewhere (e.g. power button on remote).

[2020-02-04 02:51] Demonseeed commented on #75
Interesting, good catch on the shutdown.

I wish it were that simple though. So I checked a couple things. Playing a movie through the addon itself seems to work fine. Playing a movie through a widget seems to work fine as well.

However, the skin I am using has a custom search very similar to yours in AZ2. Playing every movie I have tried causes the same problem.

The code from the search list is

[2020-02-04 03:09] Demonseeed commented on #75
To add, I just rolled it back to the known working version (when you added the Discover section, addon version 2.2.5).

Works perfectly with no changes to search code.

[2020-02-04 04:49] jurialmunkey commented on #75
Did you copy paste this command? Because it is wrong - the part `&type=movie=query=` should be `&type=movie&query=` (the `=` between movie and query should be `&`). Also, if this is in skin xml, the `&` needs to be replaced with `&amp;`

The correct command from inside skin xml would be:

[code]

[2020-02-04 06:49] Demonseeed commented on #75
Sorry about the typo! I did not copy and paste it as I am doing this on my phone and Kodi is on my LibreELEC device. It is actually an & symbol and in the xml files are `&amp;`. It also works on previous versions as well as a double-check that the code works.

I appreciate checking it out and helping me as always👌😄

[2020-02-04 07:46] jurialmunkey commented on #75
@Demonseeed - Okay, I'm almost 100% certain I know what the issue is (your rolling back to previous versions to find out when the issue was introduced really helped!!!).

Can you test latest git version and see if it fixes the problem?

[2020-02-04 07:50] Demonseeed commented on #75
Man, that was fast! I will definitely check it out, but it will have to wait till tomorrow.

I’m glad that was able to help, I wanted to give as much information as I could! 😄

[2020-02-04 09:53] jurialmunkey commented on #75
No worries. I'm fairly certain it is related to this bug I had previously which was introduced around that time: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/60

When I fixed that bug, I didn't consider calling the plugin the way AuraMod does. Plugin thinks it is being called from library as a `.strm` file and so it sets a dummy resolvedurl to prevent this bug: https://git

[2020-02-04 10:00] webmaher opened #76 "[Request] Create HBOgoeu player"
I already contact author https://forum.kodi.tv/showthread.php?tid=339798&pid=2921427#pid2921427
and he will help us with minor modification...

[2020-02-04 12:58] drinfernoo commented on #76
Until that developer does change his search path, there's not much that can be done. *After* that, creating a player should be as simple as following the wiki page. There really doesn't need to be an issue for *every* prospective player...

[2020-02-04 13:05] webmaher commented on #76
i dont know what is right and what not... im just a poor old man :-)

[2020-02-04 20:18] Demonseeed commented on #75
That did the trick, it works now.

Thank you for fixing and explaining what the problem was, as I was going to ask that next. 😅

[2020-02-04 20:28] jurialmunkey commented on #75
Excellent thanks fo confirming!

[2020-02-04 20:28] #75 closed

[2020-02-04 20:29] #76 closed

[2020-02-05 20:44] henryjfry opened #77 "playing .strm files is a lot slower than the same library files played via a context menu command"
As per the title i've set up some of my shows in the library as "strm" files in the addon_data folder for tmdbhelper.  And i've found that when i click to play one of the strm files it takes about 2 times as long for the choose player window to appear than if i play the same file via a context menu item. So about 10 seconds via the normal "play" route vs about 5 seconds via a context menu item.

M

[2020-02-05 21:05] henryjfry commented on #77
I think it is something to do with the "xbmcplugin.setResolvedUrl(self.handle, True, ListItem().set_listitem())" step

[2020-02-05 22:02] jurialmunkey commented on #77
Script doesn't do any lookups other than lookup detailed info if you pass tmdb_id. All strm files pass tmdb_id

When you run play command it pass params to the plugin.py tmdb_id lookup function. If you have a tmdb_id in param, that function just returns the tmdb_id and doesn't do any lookup:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/plugin.py#L58-L63

[2020-02-07 17:54] SerpentDrago commented on #15
can you make a viability condition where if x settings in the xml is blank or empty it doesn't show ? after all if your not authorized to trakt , you won't have some settings in the settings.xml filled out ?

[2020-02-07 19:28] drinfernoo commented on #15
Unfortunately, there doesn't appear to be a way to check  add-on settings within `addon.xml`, where the visibility conditions are for the context items 🙃

[2020-02-07 21:44] jurialmunkey commented on #15
Actually, you've both given me an idea 💡

Maybe I can set something like `Window(Home).Property(TMDbHelper.Trakt.IsAuth)` on startup and/or when auth occurs, and then check against that.

[2020-02-07 22:01] jurialmunkey commented on #15
@SerpentDrago @drinfernoo - Can you test my latest commit?

The context menu items should only show if you've authorised Trakt - plugin sets window property `Window(Home).Property(TMDbHelper.TraktIsAuth)` once authorised.

The property persists until you restart Kodi, so if you somehow deauthorise Trakt after it has been authorised then the context menu items will stay until restart. I don't think

[2020-02-08 06:18] #15 closed

[2020-02-09 03:39] daveftw84 opened #79 "slow menus"
menus are taking twice as long to load than openinfo or extended info when using menus inside widgets.
anyway to speed things up to almost match extended or openinfo speed?

[2020-02-09 03:58] jurialmunkey commented on #79
What do you mean by "menus"? Are you talking about the context menu?

[2020-02-09 04:06] daveftw84 commented on #79
content menus, like what movies are trending or what shows are airing today

[2020-02-09 04:08] daveftw84 commented on #79
using eminence 2 skin and setting widgets to menus in addons takes at least twice as long as "Same" menus in extended info mods

[2020-02-09 04:12] jurialmunkey commented on #79
What settings do you have enabled in the addon? A lot of settings increase time considerably.

Do you have any of the following settings enabled? Because all of these increase load times considerably:
`General > Get additional details from kodi library database`
`API Keys > Use fanarttv for additional artwork`
`API Keys > Use fanarttv for widget artwork`
`Accounts > Get watched indicators from Tra

[2020-02-09 04:13] daveftw84 commented on #79
General > Get additional details from kodi library database

i was trying to have it be a hub for my library

[2020-02-09 04:16] jurialmunkey commented on #79
What list are you trying to use because even with everything enabled, it still only takes a couple of seconds at most for the popular list pages to load for me.

[2020-02-09 04:20] daveftw84 commented on #79
i set API Keys > Use fanarttv for additional artwork
API Keys > Use fanarttv for widget artwork

[2020-02-09 04:20] #79 closed

[2020-02-09 04:20] jurialmunkey commented on #79
Yeah fanarttv will slow things down quite a bit, particularly if fanarttv is having connection issues.

[2020-02-09 04:22] daveftw84 commented on #79
thank you for the great addons. been a fan since eminence on xbmc

[2020-02-09 08:55] jurialmunkey opened #80 "[Bug] get_traktslug returns wrong results (Again!)"
@drinfernoo @SerpentDrago - Can you test my latest commit. I found some other false positives with trakt slug (related to this PR https://github.com/jurialmunkey/plugin.video.themoviedb.helper/pull/78)

Despite that PR, the most recent episode of "8 out of 10 cats does countdown" was getting the Trakt slug for Sopranos because the Countdown show tmdb_id matched a Sopranos episode tmdb_id. Since bo

[2020-02-09 13:20] drinfernoo commented on #80
I can't test right away, but the code looks sound. I'll take a look this evening.

[2020-02-09 14:28] drinfernoo commented on #80
Actually I had a few minutes, seems to be working fine for ATHF at least.

[2020-02-09 20:21] henryjfry opened #81 "wrong tvdb id being returned for a show"
For the show "Locke & Key" i keep getting the TVDB id returned for friends rather than the correct ID for this show.

The problem is with the trakt TVDB id lookup which happens in "Player.py", ive worked around the problem by making the following small modification

[code]

So using "self.tmdb.get_item_externalid" to get the TVDB rather than using the incorrect Trakt one.  Possibly you could add t

[2020-02-09 21:02] jurialmunkey commented on #80
Thanks! Yeah im pretty confident it should be working properly now - just wanted some confirmation.

After your PR I started paying closer attention with some additional logging and spotted that one. Thanks for bringing it to my attention as I probably would have never noticed myself as the plugin's I use for players don't take trakt slugs

[2020-02-09 21:02] #80 closed

[2020-02-09 21:08] jurialmunkey commented on #81
Have you tested with the most recent version 2.2.55?

This commit should fix the issue with the wrong trakt slug being retrieved: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/0d55311da90d9654eb472c15c9b5b1cb4d5654fb

[2020-02-09 21:29] henryjfry commented on #81
Yeah i updated and the problem was resolved, thats what i get for not keeping everything up to date. Cheers.

[2020-02-09 21:48] jurialmunkey commented on #81
No worries!

[2020-02-09 21:48] #81 closed

[2020-02-10 04:39] JayDee696969 opened #82 "Enhancement. Trailers"
Wondering if its possible to add a Trailer option to the TMDB details list section. It would be nice to have easy access to.

[2020-02-10 08:27] jurialmunkey commented on #82
Try latest. There should now be a "Videos" option in the details section of a movie/tvshow.

[2020-02-10 09:04] skyfsza opened #83 "[Feature request] Search history"
Would it be possible for you to add a search history to tmdbhelper?

Thanks!

[2020-02-10 09:09] skyfsza opened #84 "[Enhancement] Trakt Mgt dialog / notification"
When using Context Menu --> Add/Remove to watch list, TMDBhelper launches a confirm dialog before adding/removing to your watchlist.

When using RunPlugin(plugin://plugin.video.themoviedb.helper?info=details&amp;trakt=watchlist_add&amp;tmdb_id=$INFO[ListItem.Property(tmdb_id)]&amp;type=movie)
There is currently no confirm dialog or notification confirming that the show/movie was added to the watch

[2020-02-10 10:38] jurialmunkey commented on #84
Is the issue that there isn't a confirm dialog or is the issue that there is no feedback that the item has been added?

I'm just wondering if both are needed?

[2020-02-10 10:43] skyfsza commented on #84
First choice would be for the RunPlugin to function exactly the same as the Context menu does. Eg, instead of having a RunPlugin for add and a separate for remove, single add/remove with a confirm dialog.

If that's not possible just feedback confirming the item has been added or removed.

Thanks!

[2020-02-10 10:53] jurialmunkey commented on #84
The feedback dialog is easy enough to add. Please test latest version - should now have an OK dialog once added/removed (also note that these dialogs are not actually checking if the item was added - it's just saying that the command ran and completed successfully - it's still on my to do list to check the trakt headers and actually confirm that trakt is returning feedback that it was successfully

[2020-02-10 10:55] jurialmunkey commented on #83
Yeah I've been thinking that this would be useful myself. I'll see what I can do.

[2020-02-10 10:56] skyfsza commented on #84
Thanks, in the latest version the feedback dialog works perfectly.

Use case is having a button in DialogVideoInfo for "Add to watchlist"

![screenshot004](https://user-images.githubusercontent.com/29917137/74144069-bc3e4880-4c04-11ea-9993-0dc9a6f99b12.png)

[2020-02-10 11:02] skyfsza commented on #83
Great.

I would suggest having a limit, maybe 10 or 20?

[2020-02-10 12:27] jurialmunkey commented on #83
Please test latest commit.

Each search section will have it's own history.
It saves up to 10 queries for each section - let me know if it should be more.

[2020-02-10 12:29] jurialmunkey commented on #84
Ah ok. I'll have a look at adding another method that is add or remove in one.

[2020-02-10 12:39] skyfsza commented on #83
Did a quick test, searching direct in TMDBhelper working great, search terms added to the search history.

I have taken across your search hub idea from AZ2 into AuraMod, when I do a search using the hub, the searched term does not appear in the search history inside TMDBHelper.

Example search path: plugin://plugin.video.themoviedb.helper?info=search&amp;type=tv&amp;query=$INFO[Skin.String(Custom

[2020-02-10 12:59] jurialmunkey commented on #83
Try latest commit.

Adding `&history=true` to the plugin path should save the query param.

[2020-02-10 13:11] skyfsza commented on #83
working, thanks!

[2020-02-10 13:16] JayDee696969 commented on #82
Very nice, thank you much!!

[2020-02-10 13:16] #82 closed

[2020-02-10 18:06] JayDee696969 opened #85 "enhancement- Networks?"
First, just want to commend you on this addon so far. So fast and useful. Thank-You!!
So question, can a section/List be added for sorting by TV Networks?

[2020-02-10 21:01] #83 closed

[2020-02-10 21:04] jurialmunkey commented on #85
You can get shows per TV network using the discover section. You need to get the tmdb id for the network from TMDb, as the api doesn't support looking up network ids by name.

Other option is to use a trakt list for that tv network.

[2020-02-10 21:04] #85 closed

[2020-02-10 21:14] drinfernoo commented on #85
A couple great sets of lists exist for that, as well! There's [ACLO_Networks' lists](https://trakt.tv/users/aclo_networks/lists) for TV networks, and [EnorMOZ's](https://trakt.tv/users/enormoz/lists) for streaming services 😎

[2020-02-11 01:01] Demonseeed opened #86 "[Enhancement] Discover Rolling Release Date"
Hello jurialmonkey!

So I was really playing around with the Discover section of the addon and I thought of a few enhancements that of as always may or may not be possible and one thing I think is a bug.

Enhancements:
1. A rolling release date. Now I know the API doesn’t allow you to input a rolling date of some sort, but the addon might be able to take an input and then convert it over to a form

[2020-02-11 03:03] jurialmunkey commented on #86
1. Rolling release date sounds like a good idea. The actual translation of the date/time shouldn't be too difficult (would just do it on container update - e.g. plugin translates date of "two weeks ago from today" to be the correct datetime object when the container is opened or widget is refreshed). Main hurdle is how to handle inputting and saving the rule but it shouldn't be too difficult.

2/3

[2020-02-11 03:14] Demonseeed commented on #86
Have to make dinner, will add some more input about the the enhancements when I am done, but I did test the new build right quick.

It now does something a bit weird.

I set the release date to 2020, then after set the release type to 4 (for Digital) and hit okay. Once that happens, a new window pops up with a list of movies that meet both criteria, and I can’t get out of that window except by hit

[2020-02-11 04:14] jurialmunkey commented on #86
Can you test latest? I think I know what the problem is and it should hopefully be fixed (I don't have access to a computer with Kodi setup right at the moment but I'm pretty sure this should fix things).

For rolling release, the actual inputting isn't the problem (I think that will just be a numeric value of number of days +/- from today) - I'm more thinking in terms of coding it and how the plu

[2020-02-11 04:33] Demonseeed commented on #86
That did the trick, it works now. Thank you my friend!

One more thing about that actually that I just realized. The API accepts multiple options for release type by using a ,(and) or a |(or).

However the addon only allows numbers, so special characters like that are not able to be inputted in, nor can another copy of the rule be added alongside the first.

Though I’m sure once the list is set as

[2020-02-11 04:45] jurialmunkey commented on #86
Can you not click and add another value?

[2020-02-11 04:51] Demonseeed commented on #86
No. Let’s say I add 4 for digital to release type.

Once I hit add rule again and scroll down to release type, it already lists a value of 3. If I click on it and change it to 4 for physical, it changes the already existing rule instead of adding another one for 4.

[2020-02-11 05:13] jurialmunkey commented on #86
Ah okay - I'll have a look at allowing multiple values once I'm back home.

[2020-02-11 05:21] Demonseeed commented on #86
Alright sounds good my man!

Also quick question - when Match is set to ANY, does that mean if I set a rule for release date = 2020, release type = 3, and genre = horror, will it pull all results that match any of these three categories?

[2020-02-11 07:32] jurialmunkey commented on #86
No, with match ANY, movies must match at least one value from EACH rule. For instance if I have:
Genre = Comedy, Adventure
With Cast = Arnold Schwarzenegger, Danny Devito
Match ANY

I'll get movies such as Kindergarten Cop (Arnold + Comedy), Matilda (Devito + Comedy) and Conan (Arnold + Adventure) but I won't get The Terminator because it isn't a comedy or adventure movie.

Good point about matchi

[2020-02-11 07:41] Demonseeed commented on #86
Ahhhhh that makes a lot more sense.

I may have had the premise wrong but the idea was right 😂😂 thanks for letting me know how that worked.

[2020-02-11 18:45] xyzfre commented on #84
This is a amazing feature to have in the video info screen looking forward to it

[2020-02-12 02:10] jurialmunkey commented on #84
@skyfsza - Please test latest. You should now be able to do:
[code]
[code]
[code]

Also can do `sync_trakt=history` and `sync_trakt=collection`

[2020-02-12 02:58] jurialmunkey commented on #86
@Demonseeed - Please test latest. You should now get a dialog select box to choose release types from. No more checking what the numbers are and you can select multiples. The separator for these is hardcoded to 'OR' (i.e. match ANY) regardless of what your match settings are.

[2020-02-12 03:47] Demonseeed commented on #86
Just tested, that did the trick! Works like a charm.

[2020-02-12 03:54] jurialmunkey commented on #86
@Demonseeed - Excellent. Also can you test commit I just pushed.

Release date fields will now take relative values in the format `T-X` or `T+X` where X is the number of days from today. For instance, `T-14` is a fortnight ago and `T+7` is next week.

Accepted for release_date, primary_release_date, air_date, first_air_date.

[2020-02-12 04:30] Demonseeed commented on #86
So I tested it and I’m pretty sure it works, but I want to verify it’s behavior.

I think the issue is both primary_release_date and release_date are all >,< and =.

So when I put T-30 for testing, I assumed it would grab all movies in a 1 day rolling period.

If I put it in either release_date (primary or not) with > and =, it grabs all movies all movies starting from T-30 and onwards. Opposite f

[2020-02-12 04:50] jurialmunkey commented on #86
Yes that's how those fields work on TMDb.

To get all movies released exactly 30 days ago you would need to do:
[code]

Also, you can use T-0 for today, so you can get all movies released in last 30 days with:
[code]

[2020-02-12 04:54] Demonseeed commented on #86
Youuuuu right, I straight up forgot I could do that. 😂

So as I go on my quest to eliminate my dependency on trakt lists as widgets and replace them with this awesome feature (as much as possible anyway), I’m probably going to have more potential enhancements.

Would you like me to keep them contained on this issue or just open up more as I come through them?

[2020-02-12 05:04] jurialmunkey commented on #86
Each feature as a separate issue makes things easier for me to keep track of.

Also, keep 'em coming! 😁

[2020-02-12 05:15] Demonseeed commented on #86
Sounds good, will do!

I’m glad you are okay with that because I have already thought of two more since we I have been testing this. 😅

One of them I’ll add to this one in a bit (watching a movie with the wife) because it’s about release type again. The others I’ll add as their own.

[2020-02-12 06:52] Demonseeed commented on #86
So while testing out the release_type briefly, I did run into another caveat.

With everything set to OR, if I select Digital and Physical - it pulls things that have a physical or digital release. As I went through the results, I noticed it was also pulling things are direct-to-video Physical/Digital media (no theatrical release).

While digital isn’t so bad since Netflix has a lot of digital onl

[2020-02-12 07:00] Demonseeed opened #87 "[Enhancement] Discover - Region"
I believe adding the ability to select one or more regions in the query may be beneficial.

I also think just being to input the ISO 3166-1 country code should suffice, as it was very easy to find the list of codes after Googling it (since I didn’t even know what that was).

[2020-02-12 07:35] jurialmunkey commented on #87
Added https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/a71722178dde6b273de166998092de81e689cdcd

[2020-02-12 07:36] Demonseeed commented on #87
Sweet! I’ll have to wait till tomorrow for testing but I appreciate the fast response as always!

[2020-02-12 07:48] jurialmunkey commented on #86
You have to send all the values as one param, you can't have two `&with_release_type=` params because the second one will just overwrite the values in the first.

This type of thing really needs to be added manually. TMDb API allows for treats comma separated values as AND and pipe `|` separated values as OR. However, you need to url encode as these are reserved characters - comma url is `%2C` and

[2020-02-12 07:52] Demonseeed commented on #86
Sounds good, I will definitely check it out tomorrow. Manual is perfectly fine to me, as I have many manually typed widgets anyway. Thanks again!

Though I do say, if testing this does work - next time you update the Discover wiki, can you add this as an example?

[2020-02-12 09:26] skyfsza commented on #84
Thanks, this is brilliant!

For TV Shows Add and Remove works perfectly.
For Movies it only seems to Add and does not remove.

[2020-02-12 10:20] jurialmunkey commented on #84
Remove works for me for Movies.

I think sometimes the last activities sync in Trakt sometimes doesn't update immediately. That's what the script uses to determine whether it should use the cached version of the synced list (i.e. don't hit-up trakt for it again if it hasn't changed since last use) or if it should retrieve a new version.

[2020-02-12 10:26] skyfsza commented on #84
Thanks, will do some more testing and update if I am still having the remove issue.

[2020-02-12 10:35] jurialmunkey commented on #84
I've just added a cache_refresh option which you can add to the command to force a refresh. Doesn't seem to be much penalty on a smallist watchlist but it might have some penalty on larger collections

RunScript(plugin.video.themoviedb.helper,sync_trakt=watchlist,tmdb_id=$INFO[ListItem.Property(tmdb_id)],type=movie,cache_refresh)

[2020-02-12 10:51] skyfsza commented on #84
I did a bit more testing and was able to get the remove for Movies after a delay, however it seems erratic - some times I get remove some times still Add.

TV Shows I have not had any issues, no matter how quickly I try add and then remove.

When adding the refresh to the onclick, everything works as expected with Movies.

One small bug, with refresh added I get double TVDB Movie ID x label  in th

[2020-02-12 12:06] jurialmunkey commented on #84
Yeah it's odd. I was experiencing the same behaviour with movies but it doesn't really make sense as it uses the same code to check last activities for tvshows as it does movies.

[2020-02-12 12:27] jurialmunkey commented on #84
I did a few tests and I'm pretty sure it's an issue on the Trakt side of things and not in my plugin.

[2020-02-12 12:35] skyfsza commented on #84
Yeah it seems likely to be a Trakt issue.

I'm going to leave the refresh on as default, kind of like the idea of it refreshing each time anyway.

Thanks for adding this, been wanting a single add/remove feature for ages!

[2020-02-12 17:02] webmaher opened #88 "Plex widget problem"
On Sony Android TV  Kodi need about 20-40 second to connect on my Plex acc.
This is too slow and Plex widget "Shows in progress" not appear on my main menu.... so I must go to "Customize home menu" settings and something change and apply and then widget become visible and work OK...
I start KOdi 15 times and only 2 times widget show up because somehow connection time to my plex be fast enough...
I

[2020-02-12 18:06] drinfernoo commented on #88
That is an issue with the Plex add-on, not this one.

[2020-02-12 18:39] webmaher commented on #88
Options with widget delay time when Kodi start?
The only issue here is connection time to my Plex when Kodi start and widget also want to start but because plex not connected yet small problem is here :-)

[2020-02-12 18:45] drinfernoo commented on #88
@webmaher Yes, it would be up to the add-on that's populating the widgets to try and delay those widgets, if even possible.

[2020-02-12 20:47] #88 closed

[2020-02-12 20:50] jurialmunkey commented on #84
No problem. I think with watchlist it shouldn't be too bad to pull down the data everytime. History/collection is a bit of a different story since they can get big

[2020-02-12 20:50] #84 closed

[2020-02-12 22:39] brentonv opened #89 "Trakt list default sorting"
Hi Jurialmunkey. I was adding some Trakt lists as widgets and couldn't work out why lists always don't appear to change, always showing the same items, so I compared them on Trakt and worked out the sorting used in TMBD helper is "Rank" meaning it lists most popular items first but Trakt sorts by "Recently Added" as default meaning the list starts with the newest items first. This is most evident

[2020-02-12 22:54] jurialmunkey commented on #89
Trakt api doesn't expose sorting methods except for watchlist unfortunately. There was a discussion about this in a previous issue (I'll link it here when I find it)

[2020-02-12 23:19] brentonv commented on #89
Thanks for investigating this. I can sort the list from the Kodi list view screen but sorting options for widgets within AZ2 skin settings have no effect. How does OpenMeta achieve correct sorting using the same list?

[2020-02-13 00:24] brentonv commented on #89
I put in a request with Trakt. Hopefully they change it. https://github.com/trakt/api-help/issues/147

[2020-02-13 00:45] brentonv commented on #89
I put in a request with Trakt. Hopefully they change it. www\github\trakt\api-help\issues\148

[2020-02-13 05:16] Demonseeed commented on #86
To update - it doesn’t work. However, I don’t think it works at the API level either.

I went to the API’s documentation site where you can test out the API:
https://developers.themoviedb.org/3/discover/movie-discover

Inputting Theatrical + Digital (or physical) doesn’t seem to work at all, so I made a forum post about it.

[2020-02-13 05:17] Demonseeed commented on #87
Tested and works 😄👌

[2020-02-13 07:19] jurialmunkey commented on #87
Excellent! Thanks 😁

[2020-02-13 07:19] #87 closed

[2020-02-13 07:41] jurialmunkey commented on #86
Yeah, I can confirm that comma doesn't appear to be working on their API. It looks like it is being treated as a pipe.

I looked for movies `with_release_type=3,5` and the new Harley Quinn movie was showing in the results despite it only having a `3` release type currently (no `5` release type since it is only just out now).

[2020-02-13 09:20] juanma-cvega opened #90 "Fallback player"
Would it possible to provide a fallback player for movies and TV shows?
I'm planning on using the EmbyCon plugin to play videos directly from the Emby server without synchronising with the Kodi database like what the Emby for Kodi addon does (so no library integration). The idea would be to have a backup in case the video is not in the Emby server so it would then use another addon.

[2020-02-13 09:24] juanma-cvega opened #91 "Infinite scroll instead of Next page button"
This is more a question than an issue. Would it be possible to add infinite scrolling for results instead of having to navigate through pages to see videos? I'm under the impression this is more a Kodi limitation than a feature to implement in the addon but I thought it'd be worth asking.

[2020-02-13 14:07] JayDee696969 opened #92 "Missing/Invalid TMDB API Key"
Getting this message on kodi boot, theres nowhere in the settings to enter  TMDB API key?
Pic:
![Screenshot_1](https://user-images.githubusercontent.com/45118866/74442876-458d8f00-4e40-11ea-8d92-a2cd00a4e78f.png)

[2020-02-13 14:40] Demonseeed commented on #86
Sweet! I appreciate that confirmation as I’m not as experienced with this API. I’ll update this post once they get back to me on their forum.

On a side note I also made a request for the ability to essentially query “Find me all movies that were released by Netflix (or Hulu, Amazon, etc).” I’ll make another issue when that’s been implemented as they seemed to like the idea.

[2020-02-13 20:23] jurialmunkey commented on #92
Debug log please

[2020-02-13 20:24] jurialmunkey commented on #90
If the default player fails it shows a dialog to select another player

[2020-02-13 20:24] #90 closed

[2020-02-13 20:35] jurialmunkey commented on #91
Not possible. It would be loading forever. I've already covered why it's not possible to increase the items past 20 per page: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/issues/56

I guess what you're asking though is that when you reach then end of the list, to automatically load the next page and add it to the end of the list. That's not possible either because once the plugin

[2020-02-13 20:35] #91 closed

[2020-02-13 20:54] jurialmunkey commented on #89
I think because they have that as a built in list, they would pull the whole list first, sort it in the plugin, cache the results, and then paginate the cached results. It's possible to do (the actual trakt website does client side sorting this way) - the big issue is that the user would need to choose the sorting method *before* the list is opened because it is too time costly to retrieve details

[2020-02-13 20:56] jurialmunkey commented on #86
Awesome! Yeah that would be an amazing feature to have, especially if it works with the `region` param (AU Netflix is very different to US Netflix in terms of what is available). Would be really useful for integration with Netflix/Amazon etc. plugins.

[2020-02-13 21:05] Demonseeed commented on #86
So turns out they had the same idea we did - release type is hard coded to OR. They are working implementing AND to it.

Does AU Netflix have Netflix originals that are only released to AU Netflix (or vice versa)? He did mention it wouldn’t be designed to be able to pull currently accessible data, just stuff that was released by the company at one point.

But if they do, it sounds like you could u

[2020-02-13 22:17] jurialmunkey commented on #86
All the Netflix originals are available for all regions I'm pretty sure - but you could get Netflix originals by checking for studio.

I mean the rest of their (non original) catalogue differs by region but it sounds like that might not be possible to check for

[2020-02-13 22:23] Demonseeed commented on #86
I tried this but sadly it didn’t seem to work for movies (it only pulls 1 result). 😓 The only way to my knowledge was pulling by network, but it only exists for TV shows.

Ahh I gotchu, I do not think that is possible as they mentioned in a different post that Netflix closed their API for this.

[2020-02-13 23:51] JayDee696969 commented on #92
Ok, cleared TMDH addon data and resolved issue. Thanks!

[2020-02-13 23:51] #92 closed

[2020-02-13 23:58] JayDee696969 opened #93 "Trakt marks?"
Ok, whats the trick to get episodes marked as watched after watching them? I synced my Trakt account the TMDH. All my shows and movies import fine. After watching an episode I assumed TMDH would automatically mark the episode as watched, but it doesnt seem to do that. I also dont see an option to mark as watched in Trakt. Do I also need to have the Kodi Trakt addon and context menus installed alon

[2020-02-14 01:40] brentonv commented on #89
I've tried latest release tv and movie widgets and yes they aren't much use as they rarely change. Trakt replied saying they can't change the default because too many apps would be affected. They replied "You should be to handle the sorting in your app and sort using the listed_at value.". I hope you can find a solution. Thankyou

[2020-02-14 02:26] drinfernoo commented on #93
That is all handled by the add-on you're playing through, and isn't handled at all by TheMovieDb Helper.

[2020-02-14 03:39] JayDee696969 commented on #93
Ohhh, well that kinda sucks. So your saying I would need to activate Trakt on every addon that i use with the players?? Wouldnt it make more sense to have TMDBH handle this instead? Or am i missing the point?

[2020-02-14 03:59] JayDee696969 commented on #93
Hmm, but I wonder if.... instead of using players that just open the addons scrapers, if TMDBH was able to import the scrapers of these addons instead and used itself to play the streams instead of the addons then it would be able to have a functioning Trakt correct?

[2020-02-14 04:20] drinfernoo commented on #93
That's far out of the scope of this project, unless @jurialmunkey feels otherwise 🤷🏾‍♀️

[2020-02-14 04:30] JayDee696969 commented on #93
I hear ya, my fault. I was thinking of TMDBH like it was an addon that actually plays the link. I understand its more of a frontend to open the streams using other addons. I completely understand now why it doesnt work the way i thought. I was just super impressed with the speed, Trakt options, and other features it has.

[2020-02-14 04:36] JayDee696969 commented on #93
Maybe, just possibly he can add the option to import or use a scraper, like a4k or OpenScrapers? Then TMDBH can play the link, which means it could also capture watched status and report it to Trakt? I think? That would make my life complete.. LOL.

[2020-02-14 04:39] JayDee696969 commented on #93
Even better if you guys can merge OpenInfo script GUI with TMDBH. Seems like a match made in heaven to me HAHA. Ok, ill shutup now....maybe.

[2020-02-14 04:39] Demonseeed commented on #93
I believe jurialmonkey wants this addon to stay in the Official Kodi Repo, and adding those scrapers would most definitely get it banned.

[2020-02-14 04:40] JayDee696969 commented on #93
For Forks sake!! Pun intended..

[2020-02-14 04:53] JayDee696969 commented on #93
Oh, and the Randomized section is awesome for widgets!!

[2020-02-14 06:10] jurialmunkey commented on #93
I'm not interested in making a plugin that serves content - that's not the intent of the plugin. The idea is to provide one interface which joins the local library with content from other addons. I don't care what addons someone else uses, but there are plenty of legitimate legal uses (e.g. connecting with Netflix, Amazon, Youtube, PKC etc.).

I added the player functionality because I got annoyed

[2020-02-14 06:10] #93 closed

[2020-02-14 06:21] drinfernoo commented on #93
@jurialmunkey Well said!

[2020-02-14 09:18] jurialmunkey commented on #89
@brentonv - Please test latest version. User lists should now be sorted by when they were listed instead of rating.

https://github.com/jurialmunkey/plugin.video.themoviedb.helper/commit/de826a840808e0b7e351fed342ce9bfd9abda8de

[2020-02-14 09:37] Demonseeed opened #94 "[Enhancement] Video - Resume Playback"
Hey Jurialmonkey!

Would it be possible to have the addon remember the time stamp of a movie that you last played and prompt to resume instead of starting over?

For example, I watch a movie and stop it halfway. If I go to play it later, it starts over. But if I go directly to the player’s addon, it prompts me to continue where I left off or start over (I assume it is getting this information from

[2020-02-14 09:51] jurialmunkey commented on #94
I'm not sure if it's possible -- once the item plays, the instance of the tmdbhelper doesn't exist anymore to get the resume info. I'm not sure why the actual player addon being called wouldn't prompt for resume - I'll look into seeing if I can fix it, as it would be better for the player addon to handle resume points than tmdbhelper.

[2020-02-14 09:53] Demonseeed commented on #94
Alright sounds good. Thank you again!👌

[2020-02-14 10:13] brentonv commented on #89
Omg that was fast. Will let you know. Thank you so much!

[2020-02-14 10:32] brentonv commented on #89
Just confirming it works great. Love your work!!! Thanks again

[2020-02-14 11:04] jurialmunkey commented on #89
Excellent thanks for confirming!

[2020-02-14 11:04] #89 closed

[2020-02-14 20:34] drinfernoo commented on #94
It all depends on the playing add-on.